<template>
    <div :class="{'dropdown': isLogged}">
        <a :href="loginLink" class="nav-link pr-0 leading-none" :data-toggle="isLogged ? 'dropdown' : ''" >
            <span class="avatar" :style="'background-image: url(' + avatar + ');'"></span>
            <span class="ml-2 d-none d-lg-block">
                <span class="text-default">{{ loggedUser.name }}</span>
                <small class="text-muted d-block mt-1" v-if="isLogged && UserService.isSuperAdmin()">{{$t('global.role.admin')}}</small>
                <small class="text-muted d-block mt-1" v-if="isLogged && !UserService.isSuperAdmin()">{{$t('global.role.client')}}</small>
            </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" v-if="!!loggedUser">
            <div v-if="UserService.isSuperAdmin()" class="dropdown-divider labeled"><span>{{$t('global.menu.adminArea')}}</span></div>
            <a v-if="UserService.isSuperAdmin()" class="dropdown-item" href @click.prevent="systemDevices()" >
                <i class="dropdown-icon fe fe-cpu"></i> {{$t('global.menu.systemDevices')}}
            </a>
            <a v-if="UserService.isSuperAdmin()" class="dropdown-item" href @click.prevent="translations()" >
                <i class="dropdown-icon fe fe-edit-3"></i> {{$t('global.menu.translations')}}
            </a>
            <a v-if="UserService.isSuperAdmin()" class="dropdown-item" href @click.prevent="users()" >
                <i class="dropdown-icon fe fe-users"></i> {{$t('global.menu.users')}}
            </a>
            <a v-if="UserService.isSuperAdmin()" class="dropdown-item" href @click.prevent="faq()" >
                <i class="dropdown-icon fe fe-help-circle"></i> {{$t('global.menu.faq')}}
            </a>
            <a v-if="UserService.isSuperAdmin()" class="dropdown-item" href @click.prevent="staticSites()" >
                <i class="dropdown-icon fe fe-file-text"></i> {{$t('global.menu.staticSites')}}
            </a>
            <a v-if="UserService.isSuperAdmin()" class="dropdown-item" href @click.prevent="products()" >
                <i class="dropdown-icon fe fe-grid"></i> {{$t('global.menu.products')}}
            </a>
            <a v-if="UserService.isSuperAdmin()" class="dropdown-item" href @click.prevent="deviceNames()" >
                <i class="dropdown-icon fe fe-git-commit"></i> {{$t('global.menu.deviceNames')}}
            </a>
            <div v-if="UserService.isSuperAdmin()" class="dropdown-divider labeled"><span>{{$t('global.menu.clientArea')}}</span></div>
            <a class="dropdown-item" href @click.prevent="home()">
                <i class="dropdown-icon fe fe-settings"></i> {{$t('global.menu.myDashboard')}}
            </a>
            <a class="dropdown-item" href @click.prevent="myDevices()">
                <i class="dropdown-icon fe fe-layers"></i> {{$t('global.menu.myDevices')}}
            </a>
            <a class="dropdown-item" href @click.prevent="profile()">
                <i class="dropdown-icon fe fe-user"></i> {{$t('global.menu.profile')}}
            </a>
            <a class="dropdown-item" href @click.prevent="logout()">
                <i class="dropdown-icon fe fe-log-out"></i> {{$t('global.menu.logout')}}
            </a>
        </div>
    </div>

</template>

<script>

    import UserService from '../../services/UserService';

    export default {
        name: 'UserMenu',
        created() {

        },
        data() {
            return {
                UserService: UserService,
                user: {
                    name: this.$t('global.top.helloGuest')
                }
            }
        },
        methods: {
            systemDevices() {
                this.$router.push({name: 'user.system-devices'});
            },
            users() {
                this.$router.push({name: 'user.users'});
            },
            home() {
                this.$router.push({name: 'dashboard'});
            },
            profile() {
                this.$router.push({name: 'user.profile'});
            },
            myDevices() {
                this.$router.push({name: 'user.my-devices'});
            },
            faq() {
                this.$router.push({name: 'user.faq'});
            },
            staticSites() {
                this.$router.push({name: 'user.static-sites'});
            },
            products() {
                this.$router.push({name: 'user.products'});
            },
            deviceNames() {
                this.$router.push({name: 'user.device-names'});
            },
            translations() {
                this.$router.push({name: 'user.translations'});
            },
            logout() {
                this.$store.dispatch('user/logout').then(response => {
                    window.location.replace('/');
                });
                //localStorage.removeItem('user');
                //localStorage.removeItem('token');
            }
        },
        computed: {
            loginLink() {
                if (this.isLogged) {
                    return '#'
                }
                return '/app';
            },
            isLogged() {
                return !!this.loggedUser.id;
            },
            loggedUser: {
                get() {
                    let u = this.$store.getters['user/user'];
                    if (u.id) {
                        this.user = u;
                    }

                    return this.user;
                }
            },
            avatar() {
                if (this.user.small_avatar) {
                    return this.user.small_avatar;
                }
                return '/modules/shared/images/default-avatar.png';
            }
        }
    }
</script>
