<template>
    <div class="user-container-inside">
        <div :class="{'dropdown': isLogged}">
            <a :href="loginLink" class="nav-link pr-0 leading-none" :data-toggle="isLogged ? 'dropdown' : ''" >
                <span class="avatar" style="background-image: url(./demo/faces/female/25.jpg)"></span>
                <span class="ml-2 d-none d-lg-block">
                    <span class="text-default">{{ loggedUser.name }}</span>
                    <small class="text-muted d-block mt-1" v-if="isLogged">Client</small>
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" v-if="!!loggedUser">
                <a class="dropdown-item" href="/app">
                    <i class="dropdown-icon fe fe-settings"></i> App
                </a>
                <a class="dropdown-item" href="/app/profile">
                    <i class="dropdown-icon fe fe-user"></i> Profile
                </a>

                <a class="dropdown-item" href="#" @click="logout()">
                    <i class="dropdown-icon fe fe-log-out"></i> Logout
                </a>
            </div>
        </div>
    </div>

</template>

<script>

    import bus from "../bus"

    export default {
        created() {
            bus.$on('setUser', (data) => {
                this.loggedUser = data;
            });
        },
        data() {
            return {
                user: {
                    name: 'Hello guest!'
                }
            }
        },
        methods: {
            logout() {
                localStorage.removeItem('user');
                localStorage.removeItem('token');
                window.location.replace('/');
            }
        },
        computed: {
            loginLink() {
                return '/app'
            },
            isLogged() {
                return !!this.loggedUser.id;
            },
            loggedUser: {
                get() {
                    if (this.user.id) {
                        return this.user;
                    }

                    let user = localStorage.getItem('user');
                    if (user) {
                        this.user = JSON.parse(user);
                        return this.user;
                    }

                    return this.user;
                },
                set(data) {
                    console.log('component updated?');
                    this.user = data;
                    this.$forceUpdate();
                }
            }
        }
    }
</script>
