<template>
    <modal name="faq-modal" height="auto" :scrollable="true" :adaptive="true" :width="900">
        <div class="modal-header">
            <h5 v-if="!faq.id" class="modal-title">{{$t('faq.dataModal.titleAdd')}}</h5>
            <h5 v-if="faq.id" class="modal-title">{{$t('faq.dataModal.titleEdit')}}</h5>
            <button type="button" class="close" @click="$modal.hide('faq-modal')"></button>
        </div>
        <form @submit.prevent="onSubmit()">
            <div class="modal-body">
                <div class="form-group">
                    <simple-input name="title" v-model="faq.title" validate="required"
                                  :label="$t('faq.dataModal.name') + ':'">
                    </simple-input>
                </div>
                <div class="form-group">
                    <label class="col-form-label">{{$t('faq.dataModal.description')}}:</label>
                    <tiny-mce :options="{width: '100%', height: 400}" name="content" v-model="faq.content"></tiny-mce>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="$modal.hide('faq-modal')">{{$t('global.close')}}</button>
                <spinner-button class="btn btn-primary" :disabled="errors.any()">{{$t('global.save')}}</spinner-button>
            </div>
        </form>
    </modal>
</template>

<script>

    import SpinnerButton from "../../inputs/SpinnerButton"
    import TinyMce from "../../inputs/TinyMce"
    import SimpleInput from '../../inputs/SimpleInput'

    export default {
        name: "FaqModal",
        components: {
            TinyMce,
            SpinnerButton,
            SimpleInput
        },
        computed: {
            faq() {
                return this.$store.getters['faq/current'];
            }
        },
        methods: {
            onSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result){
                        this.$store.dispatch('faq/save').then((response) => {
                            if (response.success) {
                                this.$snotify.success(this.$t('faq.saved'));
                                this.$modal.hide('faq-modal');
                            }
                            else {
                                // this.$snotify.error(response.response.data.message);
                            }

                        });
                    }
                });
            }
        }
    }

</script>

<style scoped>

</style>