<template>

    <div class="row my-devices">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{$t('users.users')}}</h3>
                    <div class="card-options">
                        <a href="#" @click="add()" class="btn btn-primary btn-sm">{{$t('users.addUser')}}</a>
                    </div>
                </div>
                <table class="table card-table text-nowrap" v-if="users.length > 0">
                    <thead>
                        <tr>
                            <th>{{$t('users.table.id')}}</th>
                            <th>{{$t('users.table.name')}}</th>
                            <th>{{$t('users.table.email')}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="user in users">
                            <td class="font-weight-bold">{{user.id}}</td>
                            <td>
                                <a @click="openUserModal(user)" href="#">{{user.name}}</a>
                            </td>
                            <td>
                                <a @click="openUserModal(user)" href="#">{{user.email}}</a>
                            </td>
                            <td class="text-right">
                                <div class="dropdown">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">{{$t('global.actions')}}</button>
                                    <div class="dropdown-menu dropdown-menu-right" x-placement="top-end">
                                        <a @click="openUserModal(user)" href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit"></i> {{$t('users.contextMenu.edit')}}</a>
                                        <a @click="impersonate(user)" href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-user-check"></i> {{$t('users.contextMenu.impersonate')}}</a>
                                        <a @click="removeUser(user)" href="javascript:void(0)" class="dropdown-item text-danger"><i class="dropdown-icon fe fe-trash text-danger"></i> {{$t('users.contextMenu.remove')}}</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="card-body" v-else>
                    <p>{{$t('users.noUsers')}}</p>
                </div>
            </div>
        </div>

        <user-modal v-if="current"></user-modal>

    </div>

</template>

<script>

    import UserModal from "../../../components/modals/users/UserModal";
    import constances from "../../../configs/constances";
    import * as moment from 'moment';

    export default {
        name: 'Users',
        data() {
            return {
                moment: moment,
                constances: constances
            }
        },
        computed: {
            users(){
                return this.$store.getters['user/users'];
            },
            current() {
                return this.$store.getters['user/editUser'];
            }
        },
        created() {
            this.$store.dispatch('user/users');
        },
        methods: {
            add() {
                this.$store.commit('user/storeEditUser', {});
                setTimeout(function() {
                    this.$modal.show('user-modal');
                }.bind(this), 0);
            },
            openUserModal(user) {
                var userCopy = deepCopy(user);
                userCopy.role = userCopy.user_roles.indexOf('super-admin') > -1 ? 'super-admin' : 'client';

                this.$store.commit('user/storeEditUser', userCopy);

                setTimeout(function() {
                    this.$modal.show('user-modal');
                }.bind(this), 0);
            },
            impersonate(user) {
                this.$store.dispatch('user/impersonate', deepCopy(user)).then(response => {
                    window.location.reload();
                });
            },
            removeUser(user) {
                this.$modal.show('dialog', {
                    title: this.$t('users.deleteModal.title'),
                    text: this.$t('users.deleteModal.content') + '"<strong>' + user.name + '</strong>" ?',
                    buttons: [
                        {
                            title: this.$t('global.close'),
                            default: true,
                            handler: () => {
                                this.$modal.hide('dialog');
                            }
                        },
                        {
                            title: '<span class="text-danger">' + this.$t('users.deleteModal.submit') + '</span>',
                            handler: () => {
                                this.$store.dispatch('user/removeUser', user).then((result) => {
                                    if (result.success) {
                                        this.$store.dispatch('user/users');
                                        this.$modal.hide('dialog');
                                        this.$snotify.success(this.$t('users.userDeleted'));
                                    }
                                    else {
                                        this.$snotify.error(this.$t('users.userNotDeleted'));
                                    }
                                });
                            }
                        },
                    ]
                });
            }
        },
        components: {
            UserModal
        }

    }

</script>

<style>

</style>
