<template>
    <div>
        <dashboard-grid></dashboard-grid>
        <div class="row">
            <div class="col-12 d-flex justify-content-center" v-if="devices.length > 0">
                <button type="button" class="btn btn-outline-primary btn-lg add-chart" @click="addChart()">
                    <i class="fe fe-plus mr-2"></i> {{ $t('dashboard.addChart') }}
                </button>
            </div>
            <div class="col-12" v-if="noDevices">
                <div class="alert alert-icon alert-primary" role="alert">
                    <i class="fe fe-bell mr-2" aria-hidden="true"></i>
                    {{$t('dashboard.noDevices.noDevices')}}
                    <a @click="$router.push({name: 'user.my-devices'});" href="javascript:;">
                        {{$t('dashboard.noDevices.wannaAdd')}}
                    </a>
                </div>
            </div>
        </div>
        <chart-modal ref="chartModal"></chart-modal>
    </div>

</template>

<script>

    import UserService from "../../../services/UserService"
    import ChartModal from "../../../components/modals/ChartModal"
    import DashboardGrid from "../../../components/grids/DashboardGrid"

    export default {
        name: 'Dashboard',
        data() {
            return {
                noDevices: false
            };
        },
        created() {
            if (!UserService.isLogged()) {
                this.$router.push({
                    name: 'login'
                });
            }
            else {
                this.$store.dispatch('devices/userDevices').then(function(result) {
                    this.noDevices = true;
                    if (result) {
                        this.noDevices = !result.data.data.length;
                    }
                }.bind(this));
            }
        },
        computed: {
            devices() {
                return this.$store.getters['devices/devices'];
            }
        },
        methods: {
            addChart() {
                setTimeout(function() {
                    this.$store.commit('charts/currentChart', {
                        id: null,
                        selectedGpios: [],
                        chartPeriod: 'monthly',
                        chartType: 'bar',
                        includeDeviceName: 1,
                        includeCurrentPeriod: 1,
                        periodTime: 4
                    });

                    this.$store.dispatch('charts/getAllUserGpios', this.$refs.chartModal.measurement_type);

                    this.$modal.show('chart');
                }.bind(this), 0);
            }
        },
        components: {
            ChartModal, DashboardGrid
        }
    }

</script>