<template>
    <modal name="translation-modules-modal" height="auto" :scrollable="true" @opened="opened">
        <div class="modal-header">
            <h5 class="modal-title">Moduły tłumaczeń</h5>
            <button type="button" class="close" @click="$modal.hide('translation-modules-modal')"></button>
        </div>
        <form @submit.prevent="onSubmit()">
            <div class="modal-body">
                <div class="form-group">
                    <editable-list v-model="modulesCopy" text="name"></editable-list>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="$modal.hide('translation-modules-modal')">{{$t('global.close')}}</button>
                <spinner-button class="btn btn-primary" :disabled="errors.any()">{{$t('global.save')}}</spinner-button>
            </div>
        </form>
    </modal>
</template>

<script>

    import SpinnerButton from "../../inputs/SpinnerButton"
    import SimpleInput from "../../inputs/SimpleInput"
    import EditableList from "../../inputs/EditableList";

    export default {
        name: "TranslationModulesModal",
        components: {
            EditableList,
            SpinnerButton, SimpleInput
        },
        data() {
            return {
                modulesCopy: []
            }
        },
        computed: {
            modules: {
                get() {
                    return this.$store.getters['translations/modules'];
                },
                set(value) {
                    this.$store.commit('translations/modules', value);
                }
            }
        },
        methods: {
            opened() {
                this.modulesCopy = deepCopy(this.modules);
            },
            onSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result){
                        this.$store.dispatch('translations/saveModules', this.modulesCopy).then((response) => {
                            if (response.success) {
                                this.$snotify.success(this.$t('ok'));
                                this.$modal.hide('translation-modules-modal');
                                this.$parent.refresh();
                            }
                            else {
                                // this.$snotify.error(response.response.data.message);
                            }
                        });
                    }
                });
            }
        }
    }

</script>

<style scoped>

</style>
