<template>
    <modal name="translation-modal" height="auto" :scrollable="true">
        <div class="modal-header">
            <h5 v-if="!translation.id" class="modal-title">{{ $t('translations.add_identifier') }}</h5>
            <h5 v-if="translation.id" class="modal-title">{{ $t('translations.edit_identifier') }}</h5>
            <button type="button" class="close" @click="$modal.hide('translation-modal')"></button>
        </div>
        <form @submit.prevent="onSubmit()">
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-form-label">{{ $t('translations.module') }}:</label>
                    <select class="form-control" name="module_id" v-model="translation.module_id"
                            :class="{'is-invalid': errors.has('module_id')}"
                            v-validate="{required: true}">
                        <option value="null" disabled>-- {{ $t('global.all') }} --</option>
                        <option v-for="item in modules" :value="item.id">{{item.name}}</option>
                    </select>
                    <div class="invalid-feedback">
                        <span v-show="errors.has('module_id')">{{ errors.first('module_id') }}</span>
                    </div>
                </div>
                <simple-input name="key" v-model="translation.key" v-validate="{required: true, 'key-exist': {value: translation.key, module: translation.module_id}}"
                              :debounce="250"
                              :label="$t('translations.key')"
                              :err="errors.collect('key')">
                </simple-input>
                <div class="custom-controls-stacked">
                    <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" v-model="translation.type" name="type" value="1">
                        <span class="custom-control-label">{{ $t('translations.simple_text') }}</span>
                    </label>
                    <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" v-model="translation.type" name="type" value="2">
                        <span class="custom-control-label">{{ $t('translations.advanced_editor') }}</span>
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="$modal.hide('translation-modal')">{{$t('global.close')}}</button>
                <spinner-button class="btn btn-primary" :disabled="errors.any()">{{$t('global.save')}}</spinner-button>
            </div>
        </form>
    </modal>
</template>

<script>

    import SpinnerButton from "../../inputs/SpinnerButton"
    import SimpleInput from "../../inputs/SimpleInput"

    export default {
        name: "TranslationModal",
        components: {
            SpinnerButton, SimpleInput
        },
        created() {

        },
        computed: {
            translation() {
                return this.$store.getters['translations/current'];
            },
            modules() {
                return this.$store.getters['translations/modules'];
            }
        },
        methods: {
            onSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result){
                        this.$store.dispatch('translations/save', this.translation).then((response) => {
                            if (response.success) {
                                this.$snotify.success(this.$t('ok'));
                                this.$modal.hide('translation-modal');
                                this.$parent.refresh();
                            }
                            else {
                                // this.$snotify.error(response.response.data.message);
                            }
                        });
                    }
                });
            }
        }
    }

</script>

<style scoped>

</style>