<template>
    <div>
        <div class="row">
            <div class="col-4 offset-4">

            </div>
        </div>
    </div>

</template>

<script>

    import UserService from "../services/UserService"

    export default {
        name: 'home',
        created() {
            if (!UserService.isLogged()) {
                this.$router.push({
                    name: 'login'
                });
            }
        },
        methods: {

        },
        components: {

        }
    }

</script>
