<template>

    <div class="row">
        <div class="col col-login mx-auto">
            <form class="card" method="POST" action="" aria-label="Login" @submit.prevent="onSubmit($event)">
                <div class="card-body p-6">
                    <div class="card-title">{{ $t("login.login") }}</div>
                    <div class="form-group">
                        <label class="form-label">{{ $t("login.email") }}</label>

                        <input type="text" class="form-control" :class="{'is-invalid': errors.has('email')}" id="email"
                               name="email" v-model="email" :placeholder="$t('login.emailPlaceholder')"
                               v-validate="'required|email'">

                        <div class="invalid-feedback">
                            <span v-show="errors.has('email')">{{ errors.first('email') }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">{{$t('login.password')}}</label>

                        <input type="password" class="form-control" :class="{'is-invalid': errors.has('password')}" id="password"
                               name="email" v-model="password" :placeholder="$t('login.passwordPlaceholder')"
                               v-validate="'required'">

                        <div class="invalid-feedback">
                            <span v-show="errors.has('password')">{{ errors.first('password') }}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" v-model="rememberMe" class="custom-control-input">
                            <span class="custom-control-label">{{ $t('login.rememberMe') }}</span>
                        </label>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary btn-block">{{ $t('login.loginButton') }}</button>
                    </div>
                </div>
            </form>

            <div class="text-center text-muted">
                {{ $t('login.dontHaveAccount') }}
                <router-link :to="{name: 'register'}">{{ $t('login.registerNow') }}</router-link>
            </div>
        </div>
    </div>


</template>

<script>
    import SpinnerButton from "../components/inputs/SpinnerButton";
    import UserService from "../services/UserService";

    export default {
        name: 'home',
        data() {
            return {
                email: '',
                password: '',
                rememberMe: false,
                fb: false,
                timeoutHandle: null
            }
        },
        computed: {
            fbLoaded() {
                return this.fb;
            },
        },
        created() {
            this.timeoutHandle = setTimeout(function() {
                if (FB) {
                    this.fb = true;
                    clearTimeout(this.timeoutHandle);
                }
            }.bind(this), 500);
        },
        methods: {
            isHttps() {
                return document.location.protocol == 'https';
            },
            getFacebookHelp() {
                if (this.isHttps()) {
                    return this.$t('login.viaFacebook');
                }
                return this.$t('login.httpsEnv');
            },
            facebookLogin() {
                this.$store.dispatch('user/loginViaFacebook', (response) => {
                    if (response.status) {
                        this.$snotify.success(this.$t('login.loggedSuccessfully'));
                        this.$router.push({name: 'home'});
                    }
                    else if (response.response.status >= 300) {
                        this.$snotify.error(response.response.data.message); // error/exception
                    }
                });
            },
            onSubmit() {
                const data = {
                    email: this.email,
                    password: this.password,
                    rememberMe: this.rememberMe
                };

                this.$store.dispatch('user/login', data).then((response) => {
                    if (response) {
                        this.$snotify.success(this.$t('login.loggedSuccessfully'));
                        this.$router.push({name: 'dashboard'});
                    }
                    else {
                        this.$snotify.error(this.$t('login.incorrectUserData'));
                    }
                });
            }
        },
        components: {
            SpinnerButton
        }
    }


</script>

<style scoped>
    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }

    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

    .form-signin .form-control:focus {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>
