<template>

    <div class="row">
        <div class="col col-login mx-auto">
            <form class="card" method="POST" action="" aria-label="Register" @submit.prevent="onSubmit()">
                <div class="card-body p-6">
                    <div class="card-title">{{$t('registration.createAccount')}}</div>
                    <div class="form-group">
                        <label class="form-label">{{$t('registration.name')}}</label>
                        <input type="text" class="form-control" :placeholder="$t('registration.namePlaceholder')" name="name"
                               :class="{'is-invalid': errors.has('name')}"
                               v-model="user.name"
                               v-validate="'required'">
                        <div class="invalid-feedback">
                            <span v-show="errors.has('name')">{{ errors.first('name') }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">{{$t('login.email')}}</label>
                        <input type="email" class="form-control" :placeholder="$t('login.emailPlaceholder')" v-model="user.email"
                               name="email"
                               :class="{'is-invalid': errors.has('email')}"
                               v-validate="'required|email|email-unique'">
                        <div class="invalid-feedback">
                            <span v-show="errors.has('email')">{{ errors.first('email') }}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password">{{$t('registration.password')}}</label>
                        <input ref="password" type="password" class="form-control" id="password" name="password"
                               :class="{'is-invalid': errors.has('password')}"
                               v-validate="'required'" :placeholder="$t('registration.passwordPlaceholder')"
                               v-model="user.password">
                        <div class="invalid-feedback">
                            <span v-show="errors.has('password')">{{ errors.first('password') }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">{{$t('registration.passwordRepeat')}}</label>
                        <input data-vv-as="password" type="password" class="form-control" id="password_repeat"
                               v-validate="'required|confirmed:password'" :class="{'is-invalid': errors.has('password_repeat')}"
                               name="password_repeat" v-model="user.password_repeat"
                               :placeholder="$t('registration.passwordRepeatPlaceholder')">
                        <div class="invalid-feedback">
                            <span v-show="errors.has('password_repeat')">{{ errors.first('password_repeat') }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="terms" v-model="terms"
                                   v-validate="'required'"
                                   :class="{'is-invalid': errors.has('terms')}" />
                            <span class="custom-control-label">
                                {{$t('registration.terms.accept')}}
                                <a href="#">{{$t('registration.terms.terms')}}</a>
                            </span>
                            <div class="invalid-feedback" :class="{'d-block': errors.has('terms')}">
                                <span v-show="errors.has('terms')">{{ errors.first('terms') }}</span>
                            </div>
                        </label>
                    </div>
                    <div class="form-footer">
                        <invisible-recaptcha sitekey="6LcsK3QUAAAAALAn__ujRGYk7GVxWQJHlFvi7XzK"
                                             :validate="prepare"
                                             :callback="validated"
                                             class="btn btn-primary btn-block" type="button" id="submit-button" :disabled="loading || !terms">
                            {{$t('registration.newAccountButton')}}
                        </invisible-recaptcha>
                    </div>
                </div>
            </form>
            <div class="text-center text-muted">
                {{ $t('registration.alreadyHaveAccount') }}
                <router-link :to="{name: 'login'}">
                    {{ $t('registration.login') }}
                </router-link>
            </div>
        </div>
    </div>

</template>

<script>
    import SpinnerButton from "../components/inputs/SpinnerButton";
    import InvisibleRecaptcha from 'vue-invisible-recaptcha';

    export default {
        name: 'register',
        data() {
            return {
                loading: false,
                terms: 0
            }
        },
        created() {

        },
        computed: {
            user: {
                get() {
                    return this.$store.getters['user/register'];
                },
                set(data) {
                    this.$store.commit('user/register', data);
                }
            }
        },
        methods: {
            prepare() {

            },
            validated() {
                this.onSubmit();
                return true;
            },
            onSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.loading = true;
                        this.$store.dispatch('user/register', this.user).then((response) => {
                            this.loading = false;
                            if (response) {
                                this.$snotify.success(this.$t('registration.registaredAndLoggedIn'));
                                this.$router.push({name: 'dashboard'});
                            }
                            else {
                                this.$snotify.error(this.$t('registration.incorrectUserData'));
                            }
                        });
                    }
                });
            }
        },

        components: {
            SpinnerButton, InvisibleRecaptcha
        }
    }


</script>

<style scoped>

</style>
