<template>
    <vue-c3 :handler="handler" style="height: auto;"></vue-c3>
</template>


<script>

    import VueC3 from 'vue-c3'
    import Vue from 'vue'
    import jquery from 'jquery'

    export default {
        name: "GenericChart",
        props: ['chart', 'size', 'item', 'maxHeight', 'refreshTimeout'],
        data() {
            return {
                handler: new Vue(),
                chartData: null
            }
        },
        mounted() {
            this.$on('setData', function(data){
                this.chartData = data;
                this.$nextTick(function(){
                    this.updateChart();
                }.bind(this));
            }.bind(this));

            this.$on('resize', function(){
                if (this.size == 'max') {
                    this.handler.$emit('dispatch', function(chart) {
                        setTimeout(function(){
                            chart.resize(this._getSize());
                        }.bind(this), 50);
                    }.bind(this));
                }
            }.bind(this));
        },
        created() {
            if (this.item) {
                this.chartData = this.item;
                this.$nextTick(function(){
                    this.updateChart();
                }.bind(this));
            }
        },
        methods: {
            _getSize() {
                return {
                    width: this.$parent.$el.clientWidth - 60,
                    height: this.$parent.$el.clientHeight - 90
                };
            },
            _parseCategories(data) {
                var categories = [];

                for (var i = 0; i < data.length; i++) {
                    var date = [];
                    var time = [];

                    if (data[i].year_added) {
                        date.push(data[i].year_added - 2000);
                    }
                    if (data[i].month_added) {
                        date.push(data[i].month_added > 9 ? data[i].month_added : '0' + data[i].month_added);
                    }
                    if (data[i].day_added) {
                        date.push(data[i].day_added > 9 ? data[i].day_added : '0' + data[i].day_added);
                    }

                    if (this.chartData.chartPeriod == 'weekly') {
                        time.push('W' + data[i].week_added);
                    }
                    else {
                        if (data[i].hour_added) {
                            time.push(data[i].hour_added > 9 ? data[i].hour_added : '0' + data[i].hour_added);
                        }
                    }

                    categories.push(date.join('-') + ' ' + time.join(':'));
                }

                return categories;
            },
            _parseColors(data) {
                var out = {};

                this.chartData.selectedGpios.forEach(function(e){
                    var name = '';
                    if (this.chartData.includeDeviceName) {
                        name += e.device.name + ' - ';
                    }
                    name += e.name;
                    out[name] = e.color;
                }.bind(this));

                return out;
            },
            _parseColumns(data) {
                var out = [];

                this.chartData.selectedGpios.forEach(function(e){
                    var item = [];

                    var name = '';
                    if (this.chartData.includeDeviceName) {
                        name += e.device.name + ' - ';
                    }
                    name += e.name;
                    item.push(name);

                    for (var i = 0; i < data.length; i++) {
                        if (data[i].device_id == e.device_id && data[i]['gpio' + e.gpio] !== undefined) {
                            var val = data[i]['gpio' + e.gpio];

                            var chartValue = val / (parseInt(e.ppu) ? parseInt(e.ppu) : 1);

                            if (chartValue > 1) {
                                chartValue = parseInt(chartValue);
                            }
                            else {
                                chartValue = chartValue.toFixed(1);
                            }
                            item.push(chartValue);
                        }
                    }
                    out.push(item);

                }.bind(this));

                return out;
            },
            _parseLabels(data) {
                var out = {
                    y: '',
                    x: 'Czas [' + this.chartData.chartPeriod + ']'
                };

                if (typeof this.chartData.selectedGpios[0].device.device_name.identifier !== 'undefined') {
                    var identifier = this.chartData.selectedGpios[0].device.device_name.identifier;
                    switch(identifier) {
                        case 'power_meter':
                            out.y = 'Zużycie [kWh]';
                            break;
                        case 'temperature_meter':
                            out.y = 'Temp. [oC]';
                            break;
                    }
                }

                return out;
            },
            getGenericChartData(data){
                if (!data.length) {
                    return false;
                }

                var columns = this._parseColumns(data);
                var colors = this._parseColors(data[0]);
                var categories = this._parseCategories(data);
                var labels = this._parseLabels(data);

                var size = this._getSize();

                var xTick = {};
                var perUnit = (size.width / (categories.length - 1));
                if (perUnit < 70) {
                    xTick.rotate = 70;
                    xTick.multiline = false;
                }
                var max = null;
                var maxY = 0;
                for (var i = 0; i < columns.length; i++) {
                    for (var j = 0; j < columns[i].length; j++) {
                        if (!j) continue;
                        if (parseInt(columns[i][j]) > maxY) {
                            maxY = parseInt(columns[i][j]);
                        }
                    }
                }

                var count = 5;
                if (maxY < 10) {
                    count = 2;
                }

                let that = this;
                let options = {
                    data: {
                        columns: columns,
                        type: this.chartData.chartType,
                        colors: colors,
                    },
                    axis: {
                        x: {
                            type: 'category',
                            categories: categories,
                            // label: labels.x,
                            tick: xTick,
                        },
                        y: {
                            max: max,
                            min: 0,
                            label: labels.y,
                            tick: {
                                count: count,
                                format: function(e) {
                                    return e.toFixed(0);
                                }
                            },
                            padding: {top: 10, bottom: 0}
                        }
                    },
                    tooltip: {
                        format: {
                            value: (value, ratio, id) => {
                                let r = value;
                                that.chartData.selectedGpios.forEach(e => {
                                    let f = that.chartData.includeDeviceName ?
                                        (e.device.name + ' - ' + e.name) == id :
                                        (e.name == id);

                                    if (f && e.price) {
                                        r = value + '&nbsp;(' + (parseFloat(e.price) * value).toFixed(2) + '&nbsp;PLN)';
                                    }
                                })
                                return r;
                            }
                        }
                    },
                    legend: {
                        show: true,
                        position: 'bottom'
                    },
                    padding: {
                        bottom: 0,
                        top: 0
                    },
                };

                return options;
            },
            updateChart() {
                if (this.chartData) {

                    this.$store.dispatch('measurementGeneric/getMeasurements', deepCopy(this.chartData)).then((response) => {
                        if (response.data) {
                            if (this.chartCreated) {
                                try{
                                    this.handler.$emit('destroy');
                                }
                                catch(e){}

                            }
                            var data = this.getGenericChartData(response.data);
                            if (data) {
                                this.handler.$emit('init', data);
                                this.$emit('resize');
                                this.chartCreated = true;
                            }
                        }
                    });
                }
            }

        },
        components: {
            VueC3
        }
    }

</script>

<style scoped>

</style>
