<template>

    <div class="row static-sites">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{$t('staticSites.name')}}</h3>
                    <div class="card-options">
                        <a href="#" @click="add()" class="btn btn-primary btn-sm">{{$t('staticSites.add')}}</a>
                    </div>
                </div>
                <async-wait :init="{dispatch: 'staticSites/data'}">
                    <div class="table-responsive" v-if="staticSites.length > 0">
                        <table class="table card-table text-nowrap">
                            <thead>
                                <tr>
                                    <th>{{$t('staticSites.table.name')}}</th>
                                    <th>{{$t('staticSites.table.description')}}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tr v-for="row in staticSites">
                                <td>
                                    <a @click="edit(row)" href="#">{{ row.name }}</a>
                                </td>
                                <td>
                                    {{ row.content | striptags | truncate(30) }}
                                </td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">{{$t('global.actions')}}</button>
                                        <div class="dropdown-menu dropdown-menu-right" x-placement="top-end">
                                            <a @click="edit(row)" href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit"></i> {{$t('staticSites.context.edit')}}</a>
                                            <a @click="remove(row)" href="javascript:void(0)" class="dropdown-item text-danger"><i class="dropdown-icon fe fe-trash text-danger"></i> {{$t('staticSites.context.remove')}}</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-body" v-else>
                        <p>{{$t('staticSites.noData')}}</p>
                    </div>
                </async-wait>
            </div>
        </div>
        <static-sites-modal></static-sites-modal>
    </div>

</template>

<script>

    import StaticSitesModal from "../../../components/modals/static-sites/StaticSitesModal";
    import AsyncWait from "../../../components/async-wait/AsyncWait";

    export default {
        name: 'StaticSites',
        data() {
            return {

            }
        },
        computed: {
            staticSites() {
                return this.$store.getters['staticSites/data'];
            },
            current() {
                return this.$store.getters['staticSites/current'];
            },
        },
        created() {
            this.$store.commit('staticSites/current', {});
        },
        methods: {
            add() {
                this.$store.commit('staticSites/current', {});
                setTimeout(function() {
                    this.$modal.show('static-sites-modal');
                }.bind(this), 0);
            },
            edit(data) {
                this.$store.commit('staticSites/current', deepCopy(data));
                setTimeout(function() {
                    this.$modal.show('static-sites-modal');
                }.bind(this), 0);
            },
            remove(data) {
                this.$store.commit('staticSites/current', data);
                this.$modal.show('dialog', {
                    title: this.$t('staticSites.removeModal.title'),
                    text: this.$t('staticSites.removeModal.content') + '"<strong>' + data.name + '</strong>" ?',
                    buttons: [
                        {
                            title: this.$t('global.no'),
                            default: true,
                            handler: () => {
                                this.$modal.hide('dialog');
                            }
                        },
                        {
                            title: '<span class="text-danger">' + this.$t('staticSites.removeModal.submit') + '</span>',
                            handler: () => {
                                this.$store.dispatch('staticSites/remove').then((result) => {
                                    if (result.success) {
                                        this.$store.dispatch('staticSites/data');
                                        this.$modal.hide('dialog');
                                        this.$snotify.success(this.$t('staticSites.removed'));
                                    }
                                    else {
                                        this.$snotify.error(this.$t('staticSites.removeError'));
                                    }
                                });
                            }
                        },
                    ]
                });
            }
        },
        components: {
            StaticSitesModal, AsyncWait
        }

    }

</script>

<style>

</style>
