<template>

    <div class="row my-devices">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ $t('devices.myDevices') }}</h3>
                    <div class="card-options">
                        <a href="#" @click="addDevice()" class="btn btn-primary btn-sm">{{ $t('devices.addDevice') }}</a>
                    </div>
                </div>
                <async-wait :init="{dispatch: 'devices/userDevices', getter: 'devices/devices'}">
                    <table class="table card-table text-nowrap" v-if="devices.length > 0">
                        <thead>
                            <tr>
                                <th>{{ $t('devices.table.id') }}</th>
                                <th>{{ $t('devices.table.name') }}</th>
                                <th>{{ $t('devices.table.type') }}</th>
                                <th>{{ $t('devices.table.last') }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="device in devices">
                                <td class="font-weight-bold">{{device.chip_id}}</td>
                                <td>
                                    <a @click="openNameModal(device)" href="#">{{device.name}}</a>
                                </td>
                                <td>
                                    {{device.device_name.name}}
                                </td>
                                <td>
                                    <span v-if="device.last_measurement">
                                        {{device.last_measurement | moment(constances.defaultDateTimeFormat)}}
                                    </span>
                                    <span v-else>-</span>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">{{ $t('global.actions') }}</button>
                                        <div class="dropdown-menu dropdown-menu-right" x-placement="top-end">
                                            <a @click="openNameModal(device)" href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit"></i> {{$t('devices.contextMenu.changeName')}}</a>
                                            <a @click="openGpioModal(device)" href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i> {{$t('devices.contextMenu.configureInputs')}}</a>
                                            <a @click="exportData(device)" href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-external-link"></i> {{$t('devices.contextMenu.exportData')}}</a>
                                            <a @click="removeDevice(device)" href="javascript:void(0)" class="dropdown-item text-danger"><i class="dropdown-icon fe fe-trash text-danger"></i> {{$t('devices.contextMenu.removeDevice')}}</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <template slot="empty">
                        <div class="alert alert-info m-5" role="alert">
                            {{$t('devices.noDevices')}}
                        </div>
                    </template>
                </async-wait>
            </div>
        </div>

        <gpio-modal :item="current" v-if="current"></gpio-modal>
        <new-device-modal></new-device-modal>
        <change-name-modal v-if="current"></change-name-modal>
        <export-data-modal v-if="current"></export-data-modal>

    </div>

</template>

<script>

    import GpioModal from "../../../components/modals/GpioModal";
    import NewDeviceModal from "../../../components/modals/NewDeviceModal";
    import ChangeNameModal from "../../../components/modals/ChangeNameModal";
    import ExportDataModal from "../../../components/modals/ExportDataModal";
    import constances from "../../../configs/constances";
    import * as moment from 'moment';
    import AsyncWait from "../../../components/async-wait/AsyncWait";

    var fileDownload = require('js-file-download');

    export default {
        name: 'MyDevices',
        data() {
            return {
                moment: moment,
                constances: constances,
                newDevice: false
            }
        },
        computed: {
            devices(){
                return this.$store.getters['devices/devices'];
            },
            current() {
                return this.$store.getters['devices/current'];
            },
        },
        created() {

        },
        methods: {
            addDevice() {
                this.newDevice = true;
                setTimeout(function() {
                    this.$modal.show('new-device');
                }.bind(this), 0);
            },

            removeDevice(device) {
                this.$modal.show('dialog', {
                    title: this.$t('devices.removeModal.title'),
                    text: this.$t('devices.removeModal.content') + '"<strong>' + device.name + '</strong>" ?',
                    buttons: [
                        {
                            title: this.$t('global.no'),
                            default: true,
                            handler: () => {
                                this.$modal.hide('dialog');
                            }
                        },
                        {
                            title: '<span class="text-danger">' + this.$t('devices.removeModal.submit') + '</span>',
                            handler: () => {
                                this.$store.dispatch('devices/removeDevice', device).then((result) => {
                                    if (result.success) {
                                        this.$store.dispatch('devices/userDevices');
                                        this.$modal.hide('dialog');
                                        this.$snotify.success( this.$t('devices.deviceRemoved') );
                                    }
                                    else {
                                        this.$snotify.error( this.$t('devices.deviceRemoveError') );
                                    }
                                });
                            }
                        },
                    ]
                });
            },
            openGpioModal(device) {
                var device = deepCopy(device);
                this.$store.commit('devices/current', device);
                this.$store.dispatch('devices/getGpios', device);
                setTimeout(function() {
                    this.$modal.show('configure-gpio');
                }.bind(this), 0);
            },
            openNameModal(device) {
                this.$store.commit('devices/current', deepCopy(device));
                setTimeout(function() {
                    this.$modal.show('change-name');
                }.bind(this), 0);
            },
            exportData(device) {
                this.$store.commit('devices/current', deepCopy(device));

                setTimeout(function() {
                    this.$modal.show('export-data');
                }.bind(this), 0);

                this.$store.dispatch('devices/exportData', device.id).then(response => {
                    fileDownload(response.data, device.name + '.csv');
                    this.$modal.hide('export-data');
                });
            }
        },
        components: {
            GpioModal, NewDeviceModal, ChangeNameModal, ExportDataModal, AsyncWait
        }

    }

</script>

<style>

</style>
