<template>

    <div class="row static-sites">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{$t('deviceNames.name')}}</h3>
                    <div class="card-options">
                        <a href="#" @click="add()" class="btn btn-primary btn-sm">{{$t('deviceNames.add')}}</a>
                    </div>
                </div>
                <async-wait :init="{dispatch: 'deviceNames/data'}">
                    <div class="table-responsive" v-if="deviceNames.length > 0">
                        <table class="table card-table text-nowrap">
                            <thead>
                                <tr>
                                    <th>{{$t('deviceNames.table.id')}}</th>
                                    <th>{{$t('deviceNames.table.name')}}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tr v-for="row in deviceNames">
                                <td>
                                    <a @click="edit(row)" href="#">{{ row.identifier }}</a>
                                </td>
                                <td>
                                    {{ row.name }}
                                </td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">{{$t('global.actions')}}</button>
                                        <div class="dropdown-menu dropdown-menu-right" x-placement="top-end">
                                            <a @click="edit(row)" href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit"></i> {{$t('deviceNames.context.edit')}}</a>
                                            <a @click="remove(row)" href="javascript:void(0)" class="dropdown-item text-danger"><i class="dropdown-icon fe fe-trash text-danger"></i> {{$t('deviceNames.context.remove')}}</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-body" v-else>
                        <p>{{$t('deviceNames.noData')}}</p>
                    </div>
                </async-wait>
            </div>
        </div>
        <device-names-modal></device-names-modal>
    </div>

</template>

<script>

    import DeviceNamesModal from "../../../components/modals/device-names/DeviceNamesModal";
    import AsyncWait from "../../../components/async-wait/AsyncWait";

    export default {
        name: 'DeviceNames',
        data() {
            return {

            }
        },
        computed: {
            deviceNames() {
                return this.$store.getters['deviceNames/data'];
            },
            current() {
                return this.$store.getters['deviceNames/current'];
            },
        },
        created() {
            this.$store.commit('deviceNames/current', {});
        },
        methods: {
            add() {
                this.$store.commit('deviceNames/current', {
                    measurement_types_ids: []
                });
                setTimeout(function() {
                    this.$modal.show('device-names-modal');
                }.bind(this), 0);
            },
            edit(data) {
                this.$store.commit('deviceNames/current', deepCopy(data));
                setTimeout(function() {
                    this.$modal.show('device-names-modal');
                }.bind(this), 0);
            },
            remove(data) {
                this.$store.commit('deviceNames/current', data);
                this.$modal.show('dialog', {
                    title: this.$t('deviceNames.removeModal.title'),
                    text: this.$t('deviceNames.removeModal.content') + '"<strong>' + data.name + '</strong>" ?',
                    buttons: [
                        {
                            title: this.$t('global.no'),
                            default: true,
                            handler: () => {
                                this.$modal.hide('dialog');
                            }
                        },
                        {
                            title: '<span class="text-danger">' + this.$t('deviceNames.removeModal.submit') + '</span>',
                            handler: () => {
                                this.$store.dispatch('deviceNames/remove').then((result) => {
                                    if (result.success) {
                                        this.$store.dispatch('deviceNames/data');
                                        this.$modal.hide('dialog');
                                        this.$snotify.success(this.$t('deviceNames.removed'));
                                    }
                                    else {
                                        this.$snotify.error(this.$t('deviceNames.removeError'));
                                    }
                                });
                            }
                        },
                    ]
                });
            }
        },
        components: {
            DeviceNamesModal, AsyncWait
        }

    }

</script>

<style>

</style>
