<template>

    <div class="login">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fe fe-user"></i> {{ $t('users.profile.name') }}
                </h3>
            </div>
            <div class="card-body">
                <form class="form-signin" @submit.prevent="onSubmit()">
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div class="form-group">
                                <label for="name">{{ $t('users.table.name') }} *</label>
                                <input type="text" class="form-control" :class="{'is-invalid': errors.has('name')}" id="name"
                                       v-validate="'required'" name="name" v-model="user.name">
                                <div class="invalid-feedback">
                                    <span v-show="errors.has('name')">{{ errors.first('name') }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">{{ $t('users.table.email') }}</label>
                                <input type="text" class="form-control" id="email" name="email" v-model="user.email" disabled>
                            </div>
                            <div class="form-group">
                                <label for="password">{{ $t('registration.password') }}</label>
                                <input ref="password" type="password" class="form-control" id="password" name="password"
                                       :class="{'is-invalid': errors.has('password')}"
                                       v-model="user.password">
                                <div class="invalid-feedback">
                                    <span v-show="errors.has('password')">{{ errors.first('password') }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">{{ $t('registration.passwordRepeat') }}</label>
                                <input data-vv-as="password" type="password" class="form-control" id="password_repeat"
                                       v-validate="'confirmed:password'" :class="{'is-invalid': errors.has('password_repeat')}"
                                       name="password_repeat" v-model="user.password_repeat">
                                <div class="invalid-feedback">
                                    <span v-show="errors.has('password_repeat')">{{ errors.first('password_repeat') }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Avatar</label>
                                <row-gallery :gallery="gallery" name="avatar" :options="{canAdd: true, maxImages: 1, width: 100, height: 100}"></row-gallery>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <spinner-button class="btn btn-lg btn-primary">{{$t('global.save')}}</spinner-button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</template>

<script>

    import SpinnerButton from '../../../components/inputs/SpinnerButton';
    import RowGallery from "../../../components/row-gallery/RowGallery";

    export default {
        name: 'Profile',
        data() {
            return {
                user: this.$store.getters['user/user']
            }
        },
        computed: {
            gallery() {
                return this.$store.getters['rowGallery/galleries'].avatar;
            }
        },
        created() {
            this.$store.commit('rowGallery/galleries', {
                name: 'avatar', data: this.user.avatar ? [this.user.avatar] : []
            });
        },
        methods: {
            onSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        const data = {
                            password: this.user.password,
                            name: this.user.name,
                        };
                        this.$store.dispatch('user/save', data).then(function(response) {
                            this.$store.dispatch('user/saveAvatar', this.gallery).then((response2) => {
                                if (response) {
                                    this.$snotify.success( this.$t('users.userSaved') );
                                }
                                else {
                                    this.$snotify.error( this.$t('users.userNotSaved') );
                                }
                            });
                        }.bind(this));
                    }
                });
            }
        },
        components: {
            RowGallery,
            SpinnerButton
        }

    }

</script>

<style>

</style>
