<template>
    <div class="card">
        <h5 class="card-header">Events list</h5>
        <div class="card-body">
            <data-tables :configuration="eventsConfiguration"></data-tables>
        </div>
    </div>

</template>

<script>

    import DataTables from "../datatables/DataTables";
    import * as moment from 'moment';
    import constances from "@/configs/constances";

    export default {
        name: "EventListPanel",
        components: {
            DataTables
        },
        data() {
            return {
                eventsConfiguration: {
                    rowClick: (datatables, data) => {
                        this.$store.commit('events/setEvent', data);
                        this.$router.push({
                            name: 'event.show',
                            params: {
                                id: data.id
                            }
                        });
                    },
                    ajax: (data, callback, settings) => {
                        this.$store.dispatch('events/mainList', data).then((result) => {
                            callback(result.data);
                        });
                    },
                    order: [[2, 'desc']],
                    processing: true,
                    serverSide: true,
                    dom: "Bfrtip",
                    columns: [{
                        data: "name",
                        title: "Name"
                    }, {
                        data: "place",
                        title: "Place"
                    }, {
                        data: "start_date",
                        title: "Starts at",
                    }, {
                        data: "registered_amount",
                        title: "Already registered",
                        searchable: false
                    }],
                    columnDefs: [
                        {
                            targets: 2,
                            render: (data) => {
                                return moment(data).format(constances.dateFormatEventStart);
                            }
                        }
                    ]
                },
            }
        }
    }

</script>

<style scoped>

</style>