<template>

    <div class="row my-devices">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{$t('devices.system.devices')}}</h3>
                    <div class="card-options">
                        <a href="#" @click="addDevice()" class="btn btn-primary btn-sm">{{$t('devices.addDevice')}}</a>
                    </div>
                </div>
                <async-wait :init="{dispatch: 'devices/systemDevices', getter: 'devices/devices'}">
                    <div class="table-responsive" v-if="devices.length > 0">
                        <table class="table card-table text-nowrap">
                            <thead>
                            <tr>
                                <th>{{$t('devices.table.id')}}</th>
                                <th>{{$t('devices.system.user')}}</th>
                                <th>{{$t('devices.table.type')}}</th>
                                <th>{{$t('devices.table.last')}}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="device in devices">
                                <td class="font-weight-bold">
                                    <a @click="editDevice(device)" href="#">{{device.chip_id}}</a>
                                </td>
                                <td>
                                    <span v-if="device.user">{{device.user.name}}</span>
                                    <span v-else>-</span>
                                </td>
                                <td>
                                    {{device.device_name.name}}
                                </td>
                                <td>
                                    <span v-if="device.last_measurement">
                                        {{device.last_measurement | moment(constances.defaultDateTimeFormat)}}
                                    </span>
                                    <span v-else>-</span>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">{{$t('global.actions')}}</button>
                                        <div class="dropdown-menu dropdown-menu-right" x-placement="top-end">
                                            <a @click="editDevice(device)" href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit"></i> {{$t('devices.contextMenu.editDevice')}}</a>
                                            <a @click="removeDevice(device)" href="javascript:void(0)" class="dropdown-item text-danger"><i class="dropdown-icon fe fe-trash text-danger"></i> {{$t('devices.contextMenu.removeDevice')}}</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <template slot="empty">
                        <div class="alert alert-info m-5" role="alert">
                            {{$t('devices.noDevices')}}
                        </div>
                    </template>
                </async-wait>
            </div>
        </div>

        <edit-device-modal></edit-device-modal>

    </div>

</template>

<script>

    import EditDeviceModal from "../../../components/modals/system-devices/EditDeviceModal";
    import constances from "../../../configs/constances";
    import * as moment from 'moment';
    import AsyncWait from "../../../components/async-wait/AsyncWait";

    export default {
        name: 'SystemDevices',
        data() {
            return {
                moment: moment,
                constances: constances
            }
        },
        computed: {
            devices(){
                return this.$store.getters['devices/devices'];
            },
            current() {
                return this.$store.getters['devices/current'];
            },
        },
        created() {
            this.$store.commit('devices/current', {});
        },
        methods: {
            addDevice() {
                this.$store.commit('devices/current', {});
                setTimeout(function() {
                    this.$modal.show('edit-device');
                }.bind(this), 0);
            },
            editDevice(device) {
                this.$store.commit('devices/current', deepCopy(device));
                setTimeout(function() {
                    this.$modal.show('edit-device');
                }.bind(this), 0);
            },
            removeDevice(device) {
                this.$store.commit('devices/current', device);
                this.$modal.show('dialog', {
                    title: this.$t('devices.removeModal.title'),
                    text: this.$t('devices.removeModal.content') + '"<strong>' + device.chip_id + '</strong>" ?',
                    buttons: [
                        {
                            title: 'No',
                            default: true,
                            handler: () => {
                                this.$modal.hide('dialog');
                            }
                        },
                        {
                            title: '<span class="text-danger">' + this.$t('devices.removeModal.submit') + '</span>',
                            handler: () => {
                                this.$store.dispatch('devices/removeSystemDevice').then((result) => {
                                    if (result.success) {
                                        this.$store.dispatch('devices/systemDevices');
                                        this.$modal.hide('dialog');
                                        this.$snotify.success(this.$t('devices.deviceRemoved'));
                                    }
                                    else {
                                        this.$snotify.error(this.$t('devices.deviceRemoveError'));
                                    }
                                });
                            }
                        },
                    ]
                });
            },
        },
        components: {
            EditDeviceModal, AsyncWait
        }

    }

</script>

<style>

</style>
