<template>
    <modal name="change-name" height="auto" :scrollable="true">
        <div class="modal-header">
            <h5 class="modal-title">{{ $t('devices.changeDeviceName') }} (Chip ID: {{device.chip_id}})</h5>
            <button type="button" class="close" @click="$modal.hide('change-name')"></button>
        </div>
        <form @submit.prevent="onSubmit()">
            <div class="modal-body">
                <simple-input name="name" v-model="name" validate="required"
                              :label="$t('devices.table.name') + ':'">
                </simple-input>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="$modal.hide('change-name')">{{$t('global.close')}}</button>
                <spinner-button class="btn btn-primary" :disabled="errors.any()">{{$t('global.save')}}</spinner-button>
            </div>
        </form>
    </modal>
</template>

<script>

    import SpinnerButton from "../inputs/SpinnerButton"
    import SimpleInput from "../inputs/SimpleInput"

    export default {
        name: "ChangeNameModal",
        components: {
            SpinnerButton, SimpleInput
        },
        data() {
            return {
                name: ''
            }
        },
        computed: {
            device() {
                this.name = this.$store.getters['devices/current'].name;
                return this.$store.getters['devices/current'];
            },
        },
        methods: {
            onSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result){
                        const data = {
                            name: this.name,
                            id: this.device.id
                        };

                        this.$store.dispatch('devices/changeName', data).then((response) => {
                            this.$store.dispatch('devices/userDevices');
                            if (response.success) {
                                this.$snotify.success('Device renamed.');
                                this.$modal.hide('change-name');
                            }
                            else {
                                // this.$snotify.error(response.response.data.message);
                            }
                        });
                    }
                });
            }
        }
    }

</script>

<style scoped>

</style>