<template>
    <modal name="chart" height="auto" :scrollable="true" @opened="opened">
        <div class="modal-header">
            <h5 class="modal-title">
                <span v-if="currentChart.id == null">{{$t('dashboard.chartModal.add')}}</span>
                <span v-else>{{$t('dashboard.chartModal.edit')}}</span>
            </h5>
            <button type="button" class="close" @click="$modal.hide('chart')"></button>
        </div>

        <form @submit.prevent="onSubmit()">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" v-show="userMeasurementTypes.length > 1">
                        <!-- <div class="form-group"> -->
                            <label class="form-label">{{$t('dashboard.chartModal.measurementType')}}:</label>
                            <select name="measurement_type" v-model="measurement_type" class="form-control custom-select">
                                <option value="0" disabled>{{ $t('dashboard.chartModal.measurementType') }}</option>
                                <option v-for="item in userMeasurementTypes" :value="item.id" :selected="userMeasurementTypes.length == 1">{{item.title}}</option>
                            </select>
                        </div>
                        <div class="form-group" v-if="allGpios.length > 0">
                            <div class="form-label">{{ $t('dashboard.chartModal.availableInputs') }}:</div>
                            <div class="custom-controls-stacked mt-1" style="max-height: 210px; overflow-y: scroll;">
                                <label class="custom-control custom-checkbox" v-for="item in allGpios">
                                    <input type="checkbox" class="custom-control-input" v-model="item.checked" name="" value="1">
                                    <span class="custom-control-label">{{item.device.name}} - {{item.name}}</span>
                                    <span class="color" :style="'background-color: ' + item.color"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group" v-if="!allGpios.length">
                            <p>{{ $t('dashboard.chartModal.chooseMeasurementType') }}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">{{ $t('dashboard.chartModal.chartName') }}:</label>
                            <input type="text" class="form-control" :class="{'is-invalid': errors.has('name')}"
                                   v-validate="'required'" name="name" :placeholder="$t('dashboard.chartModal.chartNamePlaceholder')"
                                   v-model="currentChart.name">
                            <div class="invalid-feedback">
                                <span v-show="errors.has('name')">{{ errors.first('name') }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">{{ $t('dashboard.chartModal.chartType') }}:</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <select v-model="currentChart.chartType" class="form-control custom-select">
                                        <option v-for="type in constances.chartTypes" :value="type.type">{{type.label}}</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <select v-model="currentChart.chartPeriod" class="form-control custom-select">
                                        <option v-for="type in constances.chartPeriods" :value="type.type">{{type.label}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">{{$t('dashboard.chartModal.period')}}:</label>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <span>{{$t('dashboard.chartModal.last')}}</span>
                                            <select v-model="currentChart.periodTime" class="form-control custom-select mr-2 ml-2">
                                                <option v-for="value in lastValues" :value="value">{{value}}</option>
                                            </select>
                                            <span>{{info.periodTimeDescripton}}</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-controls-stacked">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" v-model="currentChart.includeCurrentPeriod" name="" :true-value="1" :false-value="0">
                                    <span class="custom-control-label">
                                        {{ $t('dashboard.chartModal.includeCurrent') }} {{info.includeCurrentPeriodDescription}}
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-controls-stacked">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" v-model="currentChart.includeDeviceName" name="" :true-value="1" :false-value="0">
                                    <span class="custom-control-label">
                                        {{ $t('dashboard.chartModal.includeDevice') }}
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label">{{ $t('dashboard.chartModal.preview') }}</label>
                            <div class="chart-preview">
                                <empty style="min-height: 250px;">
                                    <generic-chart ref="previewChart"></generic-chart>
                                </empty>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="$modal.hide('chart')">{{$t('global.close')}}</button>
                <spinner-button class="btn btn-primary" :disabled="errors.any()">{{$t('global.save')}}</spinner-button>
            </div>
        </form>
    </modal>
</template>

<script>

    import SpinnerButton from "../inputs/SpinnerButton"
    import constances from "../../configs/constances"
    import GenericChart from "../charts/GenericChart";
    import Empty from "../charts/Empty";
    import DateTimePicker from "../inputs/DateTimePicker"

    export default {
        name: "ChartModal",
        components: {
            GenericChart, SpinnerButton, DateTimePicker, Empty
        },
        inject: ['$validator'],
        data() {
            return {
                constances: constances,
                lastValues: [],
                measurement_type: 0
            }
        },
        created() {
            this.lastValues = constances.chartPeriods[1].lastValues;
            this.$store.dispatch('charts/allDeviceNames');
            this.$store.dispatch('charts/allMeasurementTypes');
            this.$store.dispatch('charts/userMeasurementTypes').then(function(result){
                if (result.data.length == 1) {
                    setTimeout(function(){
                        this.measurement_type = result.data[0].id;
                    }.bind(this), 0);
                }
            }.bind(this));
        },
        watch: {
            currentChart: {
                handler(newVal) {
                    this._updateInfo(newVal);
                    this._updateChart();
                    if (typeof newVal.measurementTypeId !== 'undefined') {
                        this.measurement_type = newVal.measurementTypeId;
                    }
                },
                deep: true
            },
            allGpios: {
                handler: function(newVal) {
                    var gpios = [];
                    newVal.forEach((e) => {
                        if (e.checked) {
                            gpios.push(e);
                        }
                    });
                    this.currentChart.selectedGpios = gpios;
                },
                deep: true
            },
            measurement_type: {
                handler: function(newVal) {
                    this._updateGpios(newVal);
                }
            }
        },
        computed: {
            info: {
                get() {
                    return this.$store.getters['charts/info'];
                },
                set(data) {
                    this.$store.commit('charts/info', data);
                }
            },
            allGpios: {
                get() {
                    return this.$store.getters['charts/allGpios'];
                },
                set(data) {
                    this.$store.commit('charts/allGpios', data)
                }
            },
            currentChart: {
                get() {
                    return this.$store.getters['charts/currentChart'];
                },
                set(data) {
                    this.$store.commit('charts/currentChart', data);
                }
            },
            allDeviceNames: {
                get() {
                    return this.$store.getters['charts/allDeviceNames'];
                },
                set(data) {
                    this.$store.commit('charts/allDeviceNames', data);
                }
            },
            userMeasurementTypes: {
                get() {
                    return this.$store.getters['charts/userMeasurementTypes'];
                }
            }
        },
        methods: {
            opened(event) {
                this._updateChart();
                // console.log(this.measurement_type);
                //if (this.userMeasurementTypes.length == 1) {
                    this._updateGpios(this.measurement_type);
                //}
            },
            _updateGpios(newVal = false) {
                this.currentChart.measurementTypeId = newVal;
                var oldGpios = objectToArray(deepCopy(this.currentChart.selectedGpios));
                this.$store.dispatch('charts/getAllUserGpios', newVal).then(function(response){
                    var gpios = objectToArray(deepCopy(response.data));
                    gpios.forEach(function(e){
                        oldGpios.forEach(function(e2){
                            if (e2.id == e.id) {
                                e.checked = true;
                            }
                        });
                    });
                    this.allGpios = gpios;
                }.bind(this));
            },
            _updateInfo(newVal) {
                constances.chartPeriods.forEach((e) => {
                    if (e.type == newVal.chartPeriod) {
                        this.info.periodTimeDescripton = e.description;
                        this.info.includeCurrentPeriodDescription = e.single;
                    }
                })
            },
            _updateChart() {
                if (this.$refs.previewChart) {
                    setTimeout(function(){
                        this.$refs.previewChart.$emit('setData', this.currentChart);
                    }.bind(this), 0);
                }
            },
            onSubmit() {
                this.$validator.validateAll().then(function(result){
                    if (result){
                        this.$store.dispatch('charts/saveChart', this.currentChart).then(function(response) {
                            if (response.success) {
                                if (!response.data.dashboard_item) {

                                    var item = this.$store.getters['charts/editItemRef'];
                                    item[0].$emit('setData', deepCopy(this.currentChart));
                                }
                                this.$snotify.success(this.$t('dashboard.chartModal.chartSaved'));
                                this.$modal.hide('chart');
                            }
                            else {
                                // this.$snotify.error(response.response.data.message);
                            }
                        }.bind(this));
                    }
                }.bind(this));
            }
        }
    }

</script>

<style scoped>

</style>
