<template>
    <modal name="cropper" height="auto" :scrollable="true" @opened="modalOpened">
        <div class="cropper-margin">
            <p class="text-center">Crop your image</p>
            <div class="">
                <img ref="cropperImg" class="cropper" alt="" crossorigin/>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-block btn-primary mt-3" @click="savePicture()">Save</button>
                </div>
            </div>
        </div>
    </modal>
</template>

<script>

    import Cropper from 'cropperjs'

    export default {
        name: "CropperModal",
        props: ['image', 'params', 'callback', 'service'],
        data() {
            return {
                cropper: false
            }
        },
        destroyed(){
            if (this.cropper) {
                this.cropper.destroy();
                this.cropper = null;
            }
        },
        methods: {
            modalOpened(event) {
                this.$refs.cropperImg.crossOrigin = "anonymous";
                this.$refs.cropperImg.src = this.service.getFullImage();
                this.$refs.cropperImg.onload = function () {
                    this.cropper = new Cropper(this.$refs.cropperImg, {
                        aspectRatio: this.service.getRatio(),
                        viewMode: 2,
                        center: !this.service.getCropperCropData(),
                        autoCropArea: 1
                    });

                    if (this.service.getCropperCropData()) {
                        setTimeout(function(){
                            let width = this.$refs.cropperImg.width;
                            let height = this.$refs.cropperImg.height;
                            var cropperData = this.service.getCropperCropData();
                            if (!this.service.isModified()) {
                                cropperData.width *= width / this.service.getSystemCropData().naturalWidth;
                                cropperData.height *= height / this.service.getSystemCropData().naturalHeight;
                                cropperData.left *= width / this.service.getSystemCropData().naturalWidth;
                                cropperData.top *= height / this.service.getSystemCropData().naturalHeight;
                            }


                            this.cropper.setCropBoxData(cropperData);
                        }.bind(this), 250);
                    }
                }.bind(this);
            },
            savePicture() {
                let croppedImage = this.cropper.getCroppedCanvas().toDataURL('image/jpeg');
                let canvasData = this.cropper.getCanvasData();
                let cropData = this.cropper.getData();

                console.log(this.cropper.getCropBoxData());

                this.service.setCroppedImage(croppedImage);

                this.service.setSystemCropData({
                    width: cropData.width / canvasData.naturalWidth,
                    height: cropData.height / canvasData.naturalHeight,
                    x: cropData.x / canvasData.naturalWidth,
                    y: cropData.y / canvasData.naturalHeight,
                    naturalWidth: canvasData.naturalWidth,
                    naturalHeight: canvasData.naturalHeight
                });
                this.service.setModified(true);
                this.service.setCropperCropData(this.cropper.getCropBoxData());
                this.$modal.hide('cropper');
            }
        }
    }

</script>

<style scoped>
    .cropper {
        max-width: 100%;
    }


    .cropper-margin{
        margin: 1rem;
    }
</style>