<template>
    <modal name="export-data" height="auto" :scrollable="true">
        <div class="modal-header">
            <h5 class="modal-title">Export data from (Chip ID: {{device.chip_id}})</h5>
        </div>
        <div class="modal-body">
            <p>Exporting the data. Please wait...</p>
        </div>
    </modal>
</template>

<script>

    export default {
        name: "ExportDataModal",
        computed: {
            device() {
                return this.$store.getters['devices/current'];
            },
        }
    }

</script>

<style scoped>

</style>