<template>
    <modal :width="750" class="overflow-visible" name="configure-gpio" height="auto" :scrollable="true">
        <div class="modal-header">
            <h5 class="modal-title">{{$t('devices.gpios.configureInputs')}} {{device.name}}</h5>
            <button type="button" class="close" @click="$modal.hide('configure-gpio')"></button>
        </div>
        <form @submit.prevent="onSubmit()">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12" v-for="gpio in gpios">
                        <fieldset class="bordered">
                            <legend>
                                <label title="Input on/off">{{$t('devices.gpios.input')}} {{gpio.gpio}}</label>
                            </legend>
                            <div class="row">
                                <div :class="isPowerMeter ? 'col-12 col-md-4' : 'col-12 col-md-10'">
                                    <div class="form-group mb-0">
                                        <div class="form-label">{{$t('devices.gpios.name')}}</div>
                                        <input type="text" class="form-control" :data-vv-name="'gpio' + gpio.gpio" v-model="gpio.name" v-validate="'required'" :placeholder="$t('devices.gpios.name')">
                                    </div>
                                </div>
                                <div v-if="isPowerMeter" class="col-12 col-md-2">
                                    <div class="form-group mb-0">
                                        <div class="form-label" :title="$t('devices.gpios.price')">{{ $t('devices.gpios.price') }}</div>
                                        <input type="text" class="form-control" :data-vv-name="'gpio' + gpio.price" v-model="gpio.price" placeholder="">
                                    </div>
                                </div>
                                <div v-if="isPowerMeter" class="col-12 col-md-2">
                                    <div class="form-group mb-0">
                                        <div class="form-label" :title="$t('devices.gpios.tariff')">{{$t('devices.gpios.tariff')}}</div>
                                        <select :disabled="gpio.type != 'power'" class="form-control custom-select" name="" :data-vv-name="'gpio' + gpio.tariff" v-model="gpio.tariff" v-validate="'required'">
                                            <option v-for="item in constances.devices.power.tariffs" :value="item.type">{{item.label}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div v-if="isPowerMeter" class="col-12 col-md-2">
                                    <div class="form-group mb-0">
                                        <div class="form-label" title="Pulses per unit">PPU *</div>
                                        <input type="text" class="form-control" :data-vv-name="'gpio' + gpio.ppu" v-model="gpio.ppu" v-validate="'required'" placeholder="Pulses per unit">
                                    </div>
                                </div>
                                <div class="col-12 col-md-2">
                                    <div class="form-group mb-0">
                                        <div class="form-label">{{$t('devices.gpios.color')}}</div>
                                        <swatches v-model="gpio.color" swatch-size="30" :trigger-style="{borderRadius: '3px', width: '100%', height: '37px'}" colors="text-advanced" popover-to="left"></swatches>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div v-if="isPowerMeter" class="row">
                    <div class="col-12">
                        * <strong>PPU</strong> - <strong>P</strong>ulses <strong>P</strong>er <strong>U</strong>nit - <span v-html="$t('devices.gpios.ppuDescription')"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="$modal.hide('configure-gpio')">{{ $t('global.close') }}</button>
                <spinner-button class="btn btn-primary" :disabled="errors.any()">{{ $t('global.save') }}</spinner-button>
            </div>
        </form>
    </modal>
</template>

<script>

    import SpinnerButton from "../inputs/SpinnerButton"
    import Swatches from 'vue-swatches'
    import "vue-swatches/dist/vue-swatches.min.css"
    import constances from '../../configs/constances'

    export default {
        name: "GpioModal",
        components: {
            SpinnerButton, Swatches
        },
        inject: ['$validator'],
        data() {
            return {
                constances: constances
            }
        },
        computed: {
            device() {
                return this.$store.getters['devices/current'];
            },
            gpios() {
                return this.$store.getters['devices/gpios'];
            },
            isPowerMeter() {
                if (this.device) {
                    return this.device.device_name.identifier == 'power_meter';
                }
                return false;
            }
        },
        methods: {
            onSubmit() {
                this.$store.dispatch('devices/saveGpios', this.device.id).then((response) => {
                    if (response.success) {
                        this.$snotify.success('Inputs configuration saved.');
                        this.$modal.hide('configure-gpio');
                    }
                    else {
                        // this.$snotify.error(response.response.data.message);
                    }
                });
            }
        }
    }

</script>

<style scoped>

</style>