<template>
    <modal name="new-device" height="auto" :scrollable="true">
        <div class="modal-header">
            <h5 class="modal-title">{{ $t('devices.addModal.title') }}</h5>
            <button type="button" class="close" @click="$modal.hide('new-device')"></button>
        </div>
        <form @submit.prevent="onSubmit()">
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-form-label">{{$t('devices.chipID')}}:</label>
                    <input type="text" name="chipId" v-model="chipId" class="form-control" :class="{'is-invalid': errors.has('chipId')}"
                           v-validate="'required|chip-id-available'">
                    <div class="invalid-feedback">
                        <span v-show="errors.has('chipId')">{{ errors.first('chipId') }}</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="$modal.hide('new-device')">{{$t('global.close')}}</button>
                <spinner-button class="btn btn-primary" :disabled="errors.any()">{{$t('global.save')}}</spinner-button>
            </div>
        </form>
    </modal>
</template>

<script>

    import SpinnerButton from "../inputs/SpinnerButton"

    export default {
        name: "NewDeviceModal",
        components: {
            SpinnerButton
        },
        inject: ['$validator'],
        data() {
            return {
                chipId: ''
            }
        },
        mounted() {

        },
        computed: {

        },
        methods: {
            onSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result){
                        const data = {
                            chipId: this.chipId
                        };

                        this.$store.dispatch('devices/addDevice', data).then((response) => {
                            // this.$store.dispatch('devices/userDevices');
                            // console.log(response);

                            if (response.success) {
                                this.$snotify.success(this.$t('devices.deviceAdded'));
                                this.$modal.hide('new-device');
                            }
                            else {
                                // this.$snotify.error(response.response.data.message);
                            }

                        });
                    }
                });
            }
        }
    }

</script>

<style scoped>

</style>