<template>
    <modal name="send-invitation" height="auto" :scrollable="true">
        <div class="modal-header">
            <h5 class="modal-title">Send Invitation</h5>
            <button type="button" class="close" @click="$modal.hide('send-invitation')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form @submit.prevent="onSubmit()">
            <div class="modal-body">
                <div class="form-group">
                    <h3>Invitation for {{event.name}}</h3>
                </div>
                <div class="form-group">
                    <label for="recipient-email" class="col-form-label">Recipient email:</label>
                    <input type="text" name="email" v-model="email" class="form-control" :class="{'is-invalid': errors.has('email')}"
                           id="recipient-email" v-validate="'required|email'" :data-vv-name="{event_id: event.id, email: email}">
                    <div class="invalid-feedback">
                        <span v-show="errors.has('email')">{{ errors.first('email') }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="comment" class="col-form-label">Optional comment:</label>
                    <textarea name="comment" v-model="comment" class="form-control" id="comment"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="$modal.hide('send-invitation')">Close</button>
                <spinner-button class="btn btn-primary" :disabled="errors.any() || !isCompleted">SEND</spinner-button>
            </div>
        </form>
    </modal>
</template>

<script>

    import SpinnerButton from '@/components/inputs/SpinnerButton.vue'

    export default {
        name: "SendInvitationModal",
        props: ['event'],
        components: {
            SpinnerButton
        },
        inject: ['$validator'],
        data() {
            return {
                email: '',
                comment: '',
                canSend: false
            }
        },
        computed: {
            isCompleted() {
                return this.email;
            },
        },
        methods: {
            onSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        const data = {
                            email: this.email,
                            event_id: this.event.id,
                            comment: this.comment
                        };

                        this.$store.dispatch('invitations/send', data).then((response) => {
                            if (response.success) {
                                this.$snotify.success('Invitation sent.');
                                this.$modal.hide('send-invitation');
                            }
                            else {
                                this.$snotify.error(response.response.data.message);
                            }
                        });
                    }
                });

            }
        }
    }

</script>

<style scoped>

</style>