<template>
    <div class="dropdown">
        <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">{{ $t('global.actions') }}</button>
        <div class="dropdown-menu dropdown-menu-right" x-placement="top-end">
            <a @click="edit()" href="javascript:;" class="dropdown-item"><i class="dropdown-icon fe fe-edit"></i> {{ $t('global.edit') }}</a>
            <a @click="remove()" href="javascript:;" class="dropdown-item text-danger"><i class="dropdown-icon fe fe-trash text-danger"></i> {{ $t('global.remove') }}</a>
        </div>
    </div>
</template>

<script>

    export default {
        name: 'TranslationsActions',
        props: ['key_', 'callbackEdit', 'callbackDelete'],
        data() {
            return {

            }
        },
        methods: {
            edit() {
                this.callbackEdit(this.key_);
            },
            remove() {
                this.callbackDelete(this.key_);
            }
        },
        created() {

        },
        components: {
        }

    }

</script>

<style>

</style>
