<template>

    <div class="row translations">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ $t('translations.translations') }}</h3>
                    <div class="card-options">
                        <div class="btn-group mr-2" role="group">
                            <a href="#" @click="importData()" class="btn btn-sm btn-primary">{{ $t('translations.import') }}</a>
                            <a href="#" @click="exportData()" class="btn btn-sm btn-primary">{{ $t('translations.export') }}</a>
                            <a href="#" @click="reload()" class="btn btn-sm btn-primary">{{ $t('translations.reload') }}</a>
                        </div>

                        <a href="#" @click="addModule()" class="btn btn-primary btn-sm mr-2">{{ $t('translations.translation_modules') }}</a>
                        <a href="#" @click="add()" class="btn btn-primary btn-sm">{{ $t('translations.add_translation') }}</a>
                    </div>
                </div>
                <div class="position-relative">
                    <div class="filter-module position-absolute">
                        <label>
                            {{ $t('translations.module') }}:
                            <select name="" class="form-control" v-model="selectedModule">
                                <option value="0">{{ $t('global.all') }}</option>
                                <option v-for="module in modules" :value="module.id">{{module.name}}</option>
                            </select>
                        </label>
                    </div>
                    <data-tables v-if="languagesLoaded" ref="list" :configuration="datatablesConfiguration"></data-tables>
                </div>
            </div>
        </div>
        <translation-modal></translation-modal>
        <translation-modules-modal></translation-modules-modal>
        <visual-editor-modal :callback="setText"></visual-editor-modal>
    </div>

</template>

<script>

    import constances from "../../../configs/constances";
    import * as moment from 'moment';
    import DataTables from "../../../components/datatables/DataTables";
    import jquery from 'jquery';
    import TranslationService from "../../../services/Translations/TranslationService";
    import TranslationModal from "../../../components/modals/translations/TranslationModal";
    import TranslationModulesModal from "../../../components/modals/translations/TranslationModulesModal";
    import VisualEditorModal from "../../../components/modals/editors/VisualEditorModal";
    import Vue from "vue";
    import Actions from "./Actions";
    import VueI18n from 'vue-i18n';

    let language1 = 'en';
    let language2 = 'pl';

    export default {
        name: 'Translations',
        data() {
            return {
                moment: moment,
                languagesLoaded: false,
                td: false
            }
        },
        methods: {
            importData(){
                this.$store.dispatch('translations/importData').then(() => {
                    this.$snotify.success( this.$t('translations.imported') );
                });
            },
            exportData(){
                this.$store.dispatch('translations/exportData').then(() => {
                    this.$snotify.success( this.$t('translations.exported') );
                });
            },
            reload() {
                this.$store.dispatch('translations/data').then(() => {
                    this.$snotify.success( this.$t('translations.reloaded') );
                });
            },
            add() {
                this.$store.commit('translations/current', {
                    module_id: this.selectedModule > 0 ? this.selectedModule : null,
                    type: 1
                });
                setTimeout(function() {
                    this.$modal.show('translation-modal');
                }.bind(this), 0);
            },
            addModule() {
                setTimeout(function() {
                    this.$modal.show('translation-modules-modal');
                }.bind(this), 0);
            },
            edit(key) {
                this.$store.commit('translations/current', deepCopy(this.getByKey(key)));
                setTimeout(function() {
                    this.$modal.show('translation-modal');

                }.bind(this), 0);
            },
            remove(key) {
                this.$store.dispatch('translations/remove', this.getByKey(key)).then(response => {
                    this.refresh();
                });
            },
            refresh() {
                this.$refs.list.refresh();
            },
            openVisualEditor(text) {
                this.$store.dispatch('visual/text', text);
                setTimeout(function() {
                    this.$modal.show('visual-editor-modal');
                }.bind(this), 0);
            },
            setText(result) {
                this.$store.dispatch('translations/setTranslation', {
                    key: this.td.row.key,
                    translation: result.text,
                    locale: this.td.language
                }).then(() => {
                    var table = jquery(this.$refs.list.$refs.table).DataTable();
                    let tr = jquery(this.td.element).closest('tr');
                    let row = table.row(tr).data();
                    row[this.td.language] = result.text;
                    table.row(tr).data(row); // cell updating is not working properly

                    setTimeout(() => {
                        let rowIndex = table.cell(this.td.element).index().row;
                        let rows = table.data().count();
                        let columnIndex = table.cell(this.td.element).index().column;
                        if (rowIndex++ < rows) {
                            jquery(this.$refs.list.$refs.table).find('tr:eq(' + (rowIndex + 1) + ')').find('td:eq(' + columnIndex + ')').trigger('click');
                        }
                    }, 10);
                });

            },
            getByKey(key) {
                var t = null;
                if (typeof this.translations.data !== 'undefined') {
                    this.translations.data.forEach((element) => {
                        if (element.key == key) {
                            t = element;
                        }
                    });
                }
                return t;
            },
            tdText(text) {
                let div = document.createElement('div');
                div.innerHTML = text;
                let t = div.innerText;
                //let t = div.innerText.substr(0, 20);
                //if (t != div.innerText) {
                //    t += '...';
                //}
                return t;
            }
        },
        computed: {
            datatablesConfiguration() {
                var o = this.$store.getters['translations/datatablesConfiguration'];
                var v = this;

                o.fnDrawCallback = () => {
                    function applyEditable(cell) {
                        let element = cell;
                        if ( jquery(cell).find('.editable-container').length > 0 ) {
                            element = jquery(cell).find('.editable-container')[0];
                        }

                        jquery(element).editable(function(value, settings) {
                            let table = jquery(v.$refs.list.$refs.table).DataTable();
                            let row = table.row(jquery(cell).closest('tr')).data();
                            let columnIndex = table.cell(cell).index().column;
                            let rowIndex = table.cell(cell).index().row;
                            let rows = table.data().count();

                            if (columnIndex > 0) {
                                v.$store.dispatch('translations/setTranslation', {
                                    module_id: row.module_id,
                                    key: row['key'],
                                    translation: value,
                                    locale: columnIndex == 1 ? language1 : language2
                                });
                            }
                            else {
                                v.$store.dispatch('translations/changeKey', {
                                    module_id: row.module_id,
                                    oldKey: row['key'],
                                    newKey: value
                                }).then(() => {
                                    let tr = jquery(cell).closest('tr');
                                    row.key = value;
                                    table.row(tr).data(row);
                                });
                            }

                            setTimeout(function(){
                                if (rowIndex++ < rows) {
                                    let element = jquery(v.$refs.list.$refs.table).find('tr:eq(' + (rowIndex + 1) + ')').find('td:eq(' + columnIndex + ')')
                                    if (jquery(element).find('.editable-container').length > 0 ) {
                                        element = jquery(element).find('.editable-container')[0];
                                    }
                                    jquery(element).trigger('click');
                                }
                            }, 1);

                            return value;
                        });
                    }

                    function applyVisual(cell, row) {
                        jquery(cell).click(function(){
                            let index = jquery(cell).index();
                            let language = index == 1 ? language1 : language2;

                            v.td = {
                                element: cell,
                                language: language,
                                row: row
                            };

                            v.openVisualEditor(row[language]);
                        });
                    }

                    jquery(v.$refs.list.$el).find('tbody tr').each(function() {
                        let table = jquery(v.$refs.list.$refs.table).DataTable();
                        let row = table.row(this).data();
                        jquery(this).find('td').each(function() {
                            let index = jquery(this).index();
                            if (index > 2) return;

                            if (index == 0) {
                                applyEditable(this);
                            }
                            else {
                                switch(parseInt(row.type)) {
                                    case 1: applyEditable(this); break;
                                    case 2: applyVisual(this, row); break;
                                }
                            }
                        });
                    });
                };

                o.initComplete = (settings, json) => {
                    setTimeout(() => {
                        if (typeof v.$refs.list === 'undefined' || typeof v.$refs.list.$refs.table === 'undefined') return;

                        let table = jquery(v.$refs.list.$refs.table).DataTable();
                        let header1 = table.columns(1).header();
                        let header2 = table.columns(2).header();
                        let select1 = jquery('<select class="form-control"></select>');
                        let select2 = jquery('<select class="form-control"></select>');

                        v.languages.forEach(function(element){
                            jquery(select1).append('<option ' + (language1 == element.locale ? 'selected' : '') + ' value="' + element.locale + '">' + element.name + '</option>');
                            jquery(select2).append('<option ' + (language2 == element.locale ? 'selected' : '') + ' value="' + element.locale + '">' + element.name + '</option>');
                        });
                        jquery(select1).change(function(){
                            language1 = jquery(this).val();
                            v.$refs.list.refresh();
                        });
                        jquery(select2).change(function(){
                            language2 = jquery(this).val();
                            v.$refs.list.refresh();
                        });
                        jquery(header1).empty().append(select1);
                        jquery(header2).empty().append(select2);
                    }, 250);
                };
                o.columns = [
                    {
                        data: "key",
                        title: "Key",
                        render: function(data, type, row, meta){
                            if (v.selectedModule == 0) {
                                return '<div class="font-weight-bold d-inline-block">[' + row.module_name + ']</div> <div class="d-inline-block editable-container">' + data + '</div>';
                            }
                            return data;
                        }
                    }, {
                        title: "",
                        data: function(row, type, val, meta) {
                            return row[language1];
                        }
                    }, {
                        title: "",
                        data: function(row, type, val, meta) {
                            return row[language2];
                        },
                        render: function(data, type, row, meta){
                            return v.tdText(data);
                        }
                    }, {
                        title: v.$t('global.actions'),
                        data: function(row, type, val, meta) {
                            return row.key;
                        },
                        render: function(data, type, row, meta){
                            setTimeout(function() {
                                if (typeof v.$refs.list !== 'undefined') {
                                    let td = jquery(v.$refs.list.$el).find('tbody tr:eq(' + meta.row +')').find('td:eq(' + meta.col + ')');
                                    if (td.length > 0) {
                                        // thx to: https://css-tricks.com/creating-vue-js-component-instances-programmatically/
                                        let ActionsClass = Vue.extend(Actions);
                                        let instance = new ActionsClass({
                                            propsData: {
                                                key_: row.key,
                                                callbackEdit: (key) => {
                                                    v.edit(key);
                                                },
                                                callbackDelete: (key) => {
                                                    v.remove(key);
                                                },
                                            },
                                            i18n: v.$i18n
                                        });
                                        instance.$mount();
                                        jquery(td).empty().append(instance.$el);
                                    }
                                }
                            }, 50);

                            return '';
                        }
                    }
                ];
                return o;
            },
            modules() {
                return this.$store.getters['translations/modules'];
            },
            selectedModule: {
                get() {
                    return this.$store.getters['translations/selectedModule'];
                },
                set(value) {
                    this.$store.commit('translations/selectedModule', value);
                    this.$refs.list.refresh();
                }
            },
            languages() {
                return this.$store.getters['translations/languages'];
            },
            translations() {
                return this.$store.getters['translations/inDatatables'];
            }
        },
        created() {
            require('jquery-jeditable');
            this.$store.dispatch('translations/modules');
            this.$store.dispatch('translations/languages').then((result) => {
                this.languagesLoaded = true;
            });
        },
        components: {
            TranslationModal,
            TranslationModulesModal,
            DataTables,
            Actions,
            VisualEditorModal
        }

    }

</script>

<style>
    .filter-module{
        z-index: 2;
        margin: 1rem 1.5rem;
    }
    .filter-module label{
        display: inline-block;
        margin-bottom: 0;
    }
    .filter-module label select {
        display: inline-block !important;
        width: auto !important;
    }
</style>
