<template>

    <div class="row my-devices">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{$t('products.name')}}</h3>
                    <div class="card-options">
                        <a href="#" @click="add()" class="btn btn-primary btn-sm">{{$t('products.add')}}</a>
                    </div>
                </div>
                <async-wait :init="{dispatch: 'products/data'}">
                    <div class="table-responsive" v-if="products.length > 0">
                        <table class="table card-table text-nowrap">
                            <thead>
                                <tr>
                                    <th>{{$t('products.table.name')}}</th>
                                    <th>{{$t('products.table.description')}}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <draggable v-model="products" :element="'tbody'">
                                <tr v-for="row in products">
                                    <td>
                                        <i class="fas fa-bars vue-draggable-handle mr-2"></i>
                                        <a @click="edit(row)" href="#">{{row.title}}</a>
                                    </td>
                                    <td>
                                        {{ row.content | striptags | truncate(20) }}
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">{{$t('global.actions')}}</button>
                                            <div class="dropdown-menu dropdown-menu-right" x-placement="top-end">
                                                <a @click="edit(row)" href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit"></i> {{$t('products.context.edit')}}</a>
                                                <a @click="remove(row)" href="javascript:void(0)" class="dropdown-item text-danger"><i class="dropdown-icon fe fe-trash text-danger"></i> {{$t('products.context.remove')}}</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </draggable>
                        </table>
                    </div>
                    <template slot="empty">
                        <div class="alert alert-info m-5" role="alert">
                            {{$t('products.noData')}}
                        </div>
                    </template>
                </async-wait>
            </div>
        </div>
        <product-modal></product-modal>
    </div>

</template>

<script>

    import ProductModal from "../../../components/modals/products/ProductModal";
    import constances from "../../../configs/constances";
    import * as moment from 'moment';
    import draggable from 'vuedraggable';
    import AsyncWait from "../../../components/async-wait/AsyncWait";

    export default {
        name: 'Products',
        data() {
            return {
                moment: moment,
                constances: constances
            }
        },
        computed: {
            products: {
                get() {
                    return this.$store.getters['products/data'];
                },
                set(value) {
                    this.$store.commit('products/data', value);
                    this.$store.dispatch('products/saveSort');
                }
            },
            current() {
                return this.$store.getters['products/current'];
            },
        },
        created() {
            this.$store.commit('products/current', {});
        },
        methods: {
            add() {
                this.$store.commit('products/current', {});
                this.$store.commit('rowGallery/galleries', {
                    name: 'gallery',
                    data: []
                });
                setTimeout(function() {
                    this.$modal.show('product-modal');
                }.bind(this), 0);
            },
            edit(data) {
                let copy = deepCopy(data);
                this.$store.commit('products/current', copy);
                this.$store.commit('rowGallery/galleries', {
                    name: 'gallery',
                    data: copy.gallery
                });

                setTimeout(function() {
                    this.$modal.show('product-modal');
                }.bind(this), 0);
            },
            remove(data) {
                this.$store.commit('products/current', data);
                this.$modal.show('dialog', {
                    title: this.$t('products.removeModal.title'),
                    text: this.$t('products.removeModal.content') + '"<strong>' + data.title + '</strong>" ?',
                    buttons: [
                        {
                            title: this.$t('global.no'),
                            default: true,
                            handler: () => {
                                this.$modal.hide('dialog');
                            }
                        },
                        {
                            title: '<span class="text-danger">' + this.$t('products.removeModal.submit') + '</span>',
                            handler: () => {
                                this.$store.dispatch('products/remove').then((result) => {
                                    if (result.success) {
                                        this.$store.dispatch('products/data');
                                        this.$modal.hide('dialog');
                                        this.$snotify.success(this.$t('products.removed'));
                                    }
                                    else {
                                        this.$snotify.error(this.$t('products.removeError'));
                                    }
                                });
                            }
                        },
                    ]
                });
            }
        },
        components: {
            ProductModal, draggable, AsyncWait
        }

    }

</script>

<style>

</style>
