<template>
    <modal name="edit-device" height="auto" :scrollable="true">
        <div class="modal-header">
            <h5 v-if="!device.id" class="modal-title">{{$t('devices.addDevice')}}</h5>
            <h5 v-if="device.id" class="modal-title">{{$t('devices.editDevice')}}</h5>
            <button type="button" class="close" @click="$modal.hide('edit-device')"></button>
        </div>
        <form @submit.prevent="onSubmit()">
            <div class="modal-body">
                <simple-input name="chip_id" v-model="device.chip_id" v-validate="'required'"
                              :label="$t('devices.chipID') + ':'">
                </simple-input>

                <div class="form-group">
                    <label class="col-form-label">{{$t('devices.table.type')}}:</label>
                    <select class="form-control" name="device_name_id" v-model="device.device_name_id"
                            :class="{'is-invalid': errors.has('device_name_id')}"
                            v-validate="'required'">
                        <option v-for="item in deviceNames" :value="item.id">{{item.name}}</option>
                    </select>
                    <div class="invalid-feedback">
                        <span v-show="errors.has('device_name_id')">{{ errors.first('device_name_id') }}</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="$modal.hide('edit-device')">{{$t('global.close')}}</button>
                <spinner-button class="btn btn-primary" :disabled="errors.any()">{{$t('global.save')}}</spinner-button>
            </div>
        </form>
    </modal>
</template>

<script>

    import SpinnerButton from "../../inputs/SpinnerButton"
    import SimpleInput from "../../inputs/SimpleInput"

    export default {
        name: "EditDeviceModal",
        components: {
            SpinnerButton, SimpleInput
        },
        created() {
            this.$store.dispatch('devices/deviceNames');
            this.$store.dispatch('devices/systemDevices');
        },
        computed: {
            device() {
                return this.$store.getters['devices/current'];
            },
            deviceNames() {
                return this.$store.getters['devices/deviceNames'];
            }
        },
        methods: {
            onSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result){
                        this.$store.dispatch('devices/saveSystemDevice').then((response) => {
                            this.$store.dispatch('devices/systemDevices');

                            if (response.success) {
                                this.$snotify.success(this.$t('devices.deviceSaved'));
                                this.$modal.hide('edit-device');
                            }
                            else {
                                // this.$snotify.error(response.response.data.message);
                            }

                        });
                    }
                });
            }
        }
    }

</script>

<style scoped>

</style>