.dashboard-grid{
  margin-right: -15px;
  margin-left: -15px;
}

.add-chart{
  width: 885px;
  height: 300px;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url('/modules/shared/images/default-chart.png');
    background-repeat: no-repeat;
    background-position: top center;
    opacity: 0.2;
  }
  &:hover{
    &:before{
      opacity: 0.1;
    }

  }
}


.vue-grid-item:not(.vue-grid-placeholder) {
  border: none;

  .card{
    height: 100%;
  }
}

.vue-grid-item.resizing {
  opacity: 0.9;
}

.vue-grid-item.static {
  background: #cce;
}

.vue-grid-item .text {
  font-size: 24px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 100%;
}

.vue-grid-item .no-drag {
  height: 100%;
  width: 100%;
}

.vue-grid-item .minMax {
  font-size: 12px;
}

.vue-grid-item .add {
  cursor: pointer;
}

.vue-draggable-handle{
  cursor: move;
}