.dropdown-divider.labeled{
  overflow: auto;
  height: auto;
  border: none;
  position: relative;
  text-align: center;

  span {
    display: inline-block;
    background-color: $white;
    padding: 0 7px;
    position: relative;
  }

  &:before{
    content: '';
    height: 0;
    position: absolute;
    top: 50%;
    border-top: 1px solid $gray-200;
    right: 0;
    left: 0;
  }
}