fieldset{
  &.bordered{
    border: 1px solid $gray-300;
    padding: 0.5rem;
    margin: 0 0 1rem 0;
    position: relative;
    border-radius: $border-radius;

    legend {
      background-color: $white;
      display: inline-block;
      position: absolute;
      top: -0.9em;
      left: 0.5rem;
      font-size: 1em;
      padding: 0 0.5rem;
      width: auto;
    }
  }
}