select,select.form-control {
  padding-right: 1.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('/images/select-arrow.png') right / 20px no-repeat #fff;
}
