.image-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    border: 1px solid $gray-200;
    position: relative;

    .image {
      display: inline-block;
      background-position: center center;
      background-size: cover;
    }
  }

  .delete{
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.blueimp-gallery{

}
