.nav-tabs{
  &.normal-tabs{
    .nav-item{
      padding: 0;
      .nav-link{
        padding: 0.5rem 1rem;
        &.active{
          border: 1px solid $gray-300;
          border-bottom: 1px solid $white;
        }
        &:hover{
          border-bottom: 1px solid $white;
        }
      }
    }
    margin: 0 -1rem;
    border-bottom: 1px solid $gray-300;
  }
}