@import 'variables';
@import '~bootstrap/scss/bootstrap.scss';
@import 'tabler/tabler';

@import 'tabs';
@import 'fieldset';
@import 'dashboard';
@import 'dropdown';
@import 'row-gallery';
@import 'top';
@import 'footer';

@import 'blueimp';
@import '~@fancyapps/fancybox/dist/jquery.fancybox.css';

@import 'forms';

.overflow-visible{
  .v--modal-box{
    &.v--modal {
      overflow: visible;
    }
  }
}
