<template>
   <div class="dashboard-grid" v-if="layout.length > 0">
       <grid-layout :layout="layout" :col-num="12" :row-height="100" :is-draggable="true" :is-resizable="true"
                    :vertical-compact="true" :use-css-transforms="true" @layout-updated="layoutUpdatedEvent">
           <grid-item v-for="item in layout" :key="item.i" :x="item.x" :y="item.y" :w="item.w" :h="item.h" :i="item.i"
                      drag-allow-from=".vue-draggable-handle" drag-ignore-from=".no-drag"
                      :minH="3">

               <div class="card">
                   <div class="card-header">
                       <a href="#" class="mr-2 vue-draggable-handle">
                           <i class="fas fa-bars"></i>
                       </a>
                       <h3 class="card-title">
                           {{item.chartData.name}} ({{ getSubtitle(item.chartData) }})
                       </h3>
                       <div class="card-options">
                           <a href="javascript:;" class="btn btn-sm btn-secondary ml-2" @click="removeChart(item)">
                               <i class="far fa-trash-alt"></i>
                           </a>
                           <a href="javascript:;" class="btn btn-sm btn-secondary ml-2" @click="editChart(item)">
                               <i class="fas fa-pen"></i>
                           </a>
                       </div>
                   </div>
                   <div class="card-body">
                       <div class="no-drag" :data-at="'chart-' + item.chartId">
                           <generic-chart :ref="'chart-' + item.chartId" :item="item.chartData" size="max"></generic-chart>
                       </div>
                   </div>
               </div>

           </grid-item>
       </grid-layout>
   </div>

</template>


<script>

    // only this works from vue-grid layout. everything else is throwing warnings:
    // https://github.com/jbaysolutions/vue-grid-layout/issues/27
    require('../../../shared/js/vue-grid-layout.umd.min');

    import constances from '../../configs/constances'
    import GenericChart from '../charts/GenericChart'
    import UserService from '../../services/UserService'

    export default {
        name: "DashboardGrid",
        created() {
            if (!UserService.isLogged()) return;

            this.$store.dispatch('charts/getCharts').then(function(response){
                var charts = objectToArray(deepCopy(response.charts));
                charts.forEach(function(e) {
                    var name = 'chart-' + e.id;
                    if (typeof e.data == 'string') {
                        e.data = JSON.parse(e.data);
                    }
                    var chartData = e.data;
                    if (this.$refs[name]) {
                        this.$refs[name][0].$emit('setData', chartData);
                    }
                }.bind(this));
            }.bind(this));
        },
        methods: {
            getSubtitle(item) {
                var subtitle = 'wykres ';
                constances.chartPeriods.forEach(e => {
                    if (item.chartPeriod == e.type) {
                        subtitle += e.label.toLowerCase();
                    }
                });
                return subtitle;
            },
            editChart(item) {
                this.$store.commit('charts/editItemRef', this.$refs['chart-' + item.chartId]);
                setTimeout(function() {
                    var name = 'chart-' + item.chartId;
                    if (this.$refs[name]) {
                        var data = deepCopy(item.chartData);
                        data.id = item.chartId;
                        this.$store.commit('charts/currentChart', data);
                    }
                    this.$modal.show('chart');
                }.bind(this), 0);
            },
            removeChart(item) {
                this.$modal.show('dialog', {
                    title: 'Delete chart',
                    text: 'Are you sure that you want to delete this chart?',
                    buttons: [
                        {
                            title: 'No',
                            default: true,
                            handler: () => {
                                this.$modal.hide('dialog');
                            }
                        },
                        {
                            title: '<span class="text-danger">Yes, remove the chart</span>',
                            handler: () => {
                                this.$store.dispatch('charts/removeChart', item).then(function(result){
                                    if (result.success) {
                                        this.$modal.hide('dialog');
                                        this.$snotify.success('Chart removed.');
                                    }
                                    else {
                                        this.$snotify.error('Something went wrong with removing the device.');
                                    }
                                }.bind(this));
                            }
                        },
                    ]
                });
            },
            layoutUpdatedEvent(newLayout) {

                window.dispatchEvent(new Event('resize')); // resize step 1

                var charts = deepCopy(newLayout); // resize step 2
                charts = Object.keys(charts).map(function (key) { return charts[key]; });
                charts.forEach(function(e){
                    var name = 'chart-' + e.chartId;
                    if (this.$refs[name]) {
                        this.$refs[name][0].$emit('resize');
                    }
                }.bind(this));

                var user = this.$store.getters['user/user'];
                if (typeof user.dashboard === 'string') {
                    user.dashboard = JSON.parse(user.dashboard);
                }
                user.dashboard.layout = newLayout;
                localStorage.setItem('user', JSON.stringify(user));

                this.$store.dispatch('charts/saveLayout', newLayout);
            }
        },
        computed: {
            layout() {
                return this.$store.getters['charts/layout'];
            },
            charts: {
                get() {
                    return this.$store.getters['charts/charts'];
                },
                set(data) {
                    this.$store.commit('charts/charts', data);
                }
            }
        },
        components: {
            GenericChart
        }
    }

</script>

<style>


</style>
