<template>
    <div class="page-main" v-if="languagesLoaded">
        <div class="header py-4">
            <div class="container">
                <div class="d-flex">
                    <a class="header-brand" href="/">
                        <img src="modules/shared/images/logo/chip-metrics.png" class="header-brand-img" alt="CHIP METRICS">
                    </a>
                    <div class="d-flex order-lg-2 ml-auto">
                        <user-menu></user-menu>
                    </div>
                    <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                        <span class="header-toggler-icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="my-3 my-md-5">
            <div class="container">
                <router-view></router-view>
            </div>
        </div>
        <vue-snotify/>
        <v-dialog/>
    </div>
</template>

<style lang="scss">

</style>

<script>
    import Snotify from 'vue-snotify'
    import UserMenu from './views/user/UserMenu'
    import { Validator } from 'vee-validate';

    import TranslationService from "./services/Translations/TranslationService";

    export default {
        data() {
            return {
                languagesLoaded: false
            }
        },
        created() {
            Validator.localize('pl');

            this.$store.dispatch('translations/data').then(() => {
                this.languagesLoaded = true;
            });
        },
        components: {
            Snotify, UserMenu
        }
    }
</script>