<template>
    <modal name="user-modal" height="auto" :scrollable="true">
        <div class="modal-header">
            <h5 class="modal-title" v-if="user.id">{{$t('users.modal.editUser')}}</h5>
            <h5 class="modal-title" v-if="!user.id">{{$t('users.modal.addUser')}}</h5>
            <button type="button" class="close" @click="$modal.hide('user-modal')"></button>
        </div>
        <form @submit.prevent="onSubmit()">
            <div class="modal-body">
                <simple-input name="name" v-model="user.name" validate="required"
                              :label="$t('users.table.name') + ':'">
                </simple-input>
                <simple-input name="email" v-model="user.email" validate="required"
                              :label="$t('users.table.email') + ':'">
                </simple-input>
                <simple-input name="password" v-model="user.password" validate="required" type="password"
                              :label="$t('users.table.email') + ':'">
                </simple-input>
                <simple-input name="repeatPassword" v-model="user.repeatPassword" validate="required" type="password"
                              :label="$t('users.modal.repeatPassword') + ':'">
                </simple-input>
                <div class="form-group">
                    <label class="col-form-label">{{$t('users.modal.role')}}:</label>
                    <select name="role" v-model="user.role" class="form-control" :class="{'is-invalid': errors.has('repeatPassword')}"
                            v-validate="'required'">
                        <option value="super-admin">Super Admin</option>
                        <option value="client">Client</option>
                    </select>
                    <div class="invalid-feedback">
                        <span v-show="errors.has('role')">{{ errors.first('role') }}</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="$modal.hide('user-modal')">{{$t('global.close')}}</button>
                <spinner-button class="btn btn-primary" :disabled="errors.any()">{{$t('global.save')}}</spinner-button>
            </div>
        </form>
    </modal>
</template>

<script>

    import SpinnerButton from "../../inputs/SpinnerButton"
    import SimpleInput from "../../inputs/SimpleInput"

    export default {
        name: "UserModal",
        components: {
            SpinnerButton, SimpleInput
        },
        inject: ['$validator'],
        data() {
            return {
                name: ''
            }

        },
        computed: {
            user() {
                return this.$store.getters['user/editUser'];
            },
        },
        methods: {
            onSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result){
                        this.$store.dispatch('user/saveUser', this.user).then((response) => {
                            this.$store.dispatch('user/users');
                            if (response.success) {
                                this.$snotify.success(this.$t('users.userSaved'));
                                this.$modal.hide('user-modal');
                            }
                            else {
                                // this.$snotify.error(response.response.data.message);
                            }
                        });
                    }
                });
            }
        }
    }

</script>

<style scoped>

</style>