<template>
    <modal name="device-names-modal" height="auto" :scrollable="true">
        <div class="modal-header">
            <h5 v-if="!deviceName.id" class="modal-title">{{$t('deviceNames.dataModal.titleAdd')}}</h5>
            <h5 v-if="deviceName.id" class="modal-title">{{$t('deviceNames.dataModal.titleEdit')}}</h5>
            <button type="button" class="close" @click="$modal.hide('device-names-modal')"></button>
        </div>
        <form @submit.prevent="onSubmit()">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <simple-input name="identifier" v-model="deviceName.identifier" v-validate="'required'"
                                      :err="errors.collect('identifier')"
                                      :label="$t('deviceNames.dataModal.id') + ':'">
                        </simple-input>
                    </div>
                    <div class="col-md-6">
                        <simple-input name="name" v-model="deviceName.name" v-validate="'required'"
                                      :err="errors.collect('name')"
                                      :label="$t('deviceNames.dataModal.name') + ':'">
                        </simple-input>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-form-label">{{ $t('deviceNames.dataModal.delivers') }}:</label>
                    <div class="custom-controls-stacked">
                        <label class="custom-control custom-checkbox custom-control-inline" v-for="item in allMeasurementTypes">
                            <input type="checkbox" class="custom-control-input" :value="item.id"
                                   v-model="deviceName.measurement_types_ids">
                            <span class="custom-control-label">{{ item.title }}</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="$modal.hide('device-names-modal')">{{$t('global.close')}}</button>
                <spinner-button class="btn btn-primary" :disabled="errors.any()">{{$t('global.save')}}</spinner-button>
            </div>
        </form>
    </modal>
</template>

<script>

    import SpinnerButton from "../../inputs/SpinnerButton"
    import TinyMce from "../../inputs/TinyMce"
    import SimpleInput from '../../inputs/SimpleInput'

    export default {
        name: "DeviceNamesModal",
        components: {
            SpinnerButton,
            SimpleInput
        },
        data() {
            return {
                tt: []
            }
        },
        computed: {
            deviceName: {
                get() {
                    return this.$store.getters['deviceNames/current'];
                },
                set(value) {
                    this.$store.commit('deviceNames/current', value);
                }
            },
            allMeasurementTypes() {
                return this.$store.getters['charts/allMeasurementTypes'];
            },
        },
        methods: {
            onSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result){
                        this.$store.dispatch('deviceNames/save').then((response) => {
                            if (response.success) {
                                this.$snotify.success(this.$t('deviceNames.saved'));
                                this.$modal.hide('device-names-modal');
                            }
                            else {
                                // this.$snotify.error(response.response.data.message);
                            }

                        });
                    }
                });
            }
        }
    }

</script>

<style scoped>

</style>