<template>
    <div class="row-gallery">
        <draggable v-model="currentGallery" :element="'ul'" class="image-list d-flex justify-content-start mb-2">
            <li class="p-2 mr-2" v-for="(item, imageIndex) in currentGallery" :key="imageIndex">
                <a @click="showGallery(imageIndex)" class="image d-block" href="javascript:;" :style="'background-image: url(' + item.url + '); width: ' + options.width + 'px; height: ' + options.height + 'px;'" :title="item.id"></a>
                <a href="javascript:;" @click="remove(i)" class="btn btn-danger btn-sm delete">Usuń</a>
            </li>
        </draggable>
        <file-upload
                extensions="gif,jpg,jpeg,png"
                accept="image/png,image/gif,image/jpeg,image"
                class="btn btn-primary btn-block"
                v-if="canAdd"
                @input-filter="inputFilter">
            Dodaj obraz
        </file-upload>
        <vue-gallery :images="currentGalleryImagesOnly" :index="index" @close="index = null">
            <template slot="close">&nbsp;</template>
        </vue-gallery>
    </div>

</template>

<script>

    import FileUpload from 'vue-upload-component'
    import draggable from 'vuedraggable'
    import VueGallery from 'vue-gallery';

    export default {
        name: "RowGallery",
        props: ['gallery', 'name', 'options'],
        data() {
            return {
                index: null
            };
        },
        created() {

        },
        computed: {
            canAdd() {
                return this.options.canAdd && this.galleryInside[this.name].length < this.options.maxImages;
            },
            galleryInside() {
                return this.$store.getters['rowGallery/galleries'];
            },
            currentGallery: {
                get() {
                    return this.$store.getters['rowGallery/galleries'][this.name];
                },
                set(value) {
                    var t = {
                        name: this.name,
                        data: value
                    };

                    this.$store.commit('rowGallery/galleries', t);
                }
            },
            currentGalleryImagesOnly() {
                var t = [];
                this.currentGallery.forEach(e => t.push(e.url));
                return t;
            }
        },
        methods: {
            showGallery(i) {
                this.index = i;
            },
            remove(index) {
                this.$store.commit('rowGallery/remove', {
                    index: parseInt(index),
                    name: this.name
                });
            },
            inputFilter(newFile, oldFile, prevent) {
                if (newFile && !oldFile) {
                    if (!/\.(gif|jpg|jpeg|png)$/i.test(newFile.name)) {
                        alert('Your choice is not a picture');
                        return prevent();
                    }
                }
                if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
                    newFile.url = '';
                    let URL = window.URL || window.webkitURL;
                    if (URL && URL.createObjectURL) {
                        newFile.url = URL.createObjectURL(newFile.file);

                        this.$store.commit('rowGallery/add', {
                            name: this.name,
                            data: {
                                url: newFile.url,
                                file: newFile
                            }
                        });
                    }
                }
            }
        },
        mounted() {

        },
        beforeDestroy: function () {

        },
        components: {
            FileUpload, draggable, VueGallery
        }
    }

</script>

<style scoped>

</style>