<template>
    <table ref="table" class="data-table display table table-striped table-bordered" cellspacing="0" width="100%"></table>
</template>

<script>
    // eslint-disable-next-line
    import DataTable from 'datatables.net'
    import jquery from 'jquery'

    export default {
        name: "DataTables",
        props: ['configuration'],
        methods: {
            refresh() {
                jquery(this.$el).DataTable().draw();
            }
        },
        created() {

        },
        mounted() {
            jquery(this.$el).DataTable(this.configuration);
            const dataTable = jquery(this.$el);
            if (this.configuration.rowClick) {
                jquery(this.$el).addClass('row-clickable');
                jquery(this.$el).find('tbody').on('click', 'tr', (e) => {
                    if (!jquery(e.target).parent().hasClass('icon-click')) {
                        this.configuration.rowClick(dataTable.DataTable(), dataTable.DataTable().row(e.currentTarget).data());
                    }
                });
            }

            jquery(this.$el).on('click', '.icon-click', (e) => {
                if (this.configuration.iconClick) {
                    let tr = jquery(e.currentTarget).closest('tr');
                    let action = jquery(e.currentTarget).data('action');
                    let data = dataTable.DataTable().row(tr).data();
                    this.configuration.iconClick(dataTable.DataTable(), action, data);
                }
            });
        },
        beforeDestroy: function () {
            jquery(this.$el).DataTable().destroy();
        }
    }


</script>

<style lang="scss">
    $darker: #c0c5ca;

    .row-clickable tbody tr {
        cursor: pointer;
    }

    table.dataTable {
        border-left: none;
        border-right: none;

        thead, t {
            th {
                border-bottom: 1px solid $darker;
            }
        }
        td, th {
            border-left: none;
            border-bottom: none;

            &:last-child{
                border-right: none;
            }
        }
        tr {
            &:not(last-child){
                border-bottom: none;
            }
        }

        &.no-footer {
            border-bottom: 1px solid $darker;
        }
    }

</style>