<template>
    <div class="header">
        <nav-bar></nav-bar>
    </div>
</template>

<script>
    import NavBar from "./NavBar";

    export default {
        name: "Header",
        components: {
            NavBar
        }
    }
</script>

<style scoped>
    .header{
        margin-bottom: 15px;
    }
</style>