<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">CASPER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <router-link :to="{ name: 'home' }" activeClass="active" tag="li" class="nav-item" exact><a class="nav-link">Home</a>
                </router-link>
                <router-link :to="{ name: 'search' }" activeClass="active" tag="li" class="nav-item"><a class="nav-link">Search</a>
                </router-link>
                <router-link :to="{ name: 'about' }" activeClass="active" tag="li" class="nav-item"><a class="nav-link">About</a>
                </router-link>
            </ul>
        </div>
        <ul class="nav navbar-nav ml-auto">
            <router-link :to="{ name: 'login' }" tag="li" class="nav-item" v-if="!isAuthenticated">
                <a class="nav-link">Login</a>
            </router-link>
            <router-link :to="{ name: 'register' }" tag="li" class="nav-item" v-if="!isAuthenticated">
                <a class="nav-link">Register</a>
            </router-link>
            <li class="nav-item" v-if="isAuthenticated">
                <a class="nav-link" href="#" @click="profile">Logged as: {{this.$store.getters['user/user'].email}}</a>
            </li>
            <li class="nav-item" v-if="isAuthenticated">
                <a class="nav-link" href="#" @click="logout">Logout</a>
            </li>
        </ul>
    </nav>

</template>

<script>

    export default {
        name: "NavBar",
        methods: {
            logout() {
                this.$store.dispatch('user/logout').then(() => {
                    this.$snotify.success('Logged out successfully.');
                    this.$router.push({name: 'home'});
                });
            },
            profile() {
                this.$router.push({name: 'user.profile'});
            }
        },
        computed: {
            isAuthenticated() {
                return this.$store.getters['user/user'] && this.$store.getters['user/user'].id;
            }
        }
    }
</script>

<style scoped>

</style>