<template>
    <div class="profile-navigation">
        <ul class="nav nav-tabs">
            <profile-nav-link text="Profile" route="user.profile"></profile-nav-link>
            <profile-nav-link text="Your events" route="user.your-events"></profile-nav-link>
            <profile-nav-link text="Invitations" route="user.invitations"></profile-nav-link>
        </ul>
    </div>
</template>

<script>

    import ProfileNavLink from '@/components/shared/ProfileNavLink.vue'

    export default {
        name: "ProfileNav",
        methods: {

        },
        created() {
            this.$store.commit('user/setNavigationMenu', 'Profile');
        },
        components: {
            ProfileNavLink
        }
    }
</script>

<style scoped>
    .profile-navigation{
        margin-top: 15px;
    }
</style>