<template>
    <li class="nav-item">
        <a class="nav-link" :class="{active: this.$store.getters['user/navigation'].menu == this.text}" href="#" @click="setMenu()">
            {{text}}
        </a>
    </li>
</template>

<script>

    export default {
        name: "ProfileNavLink",
        props: ['text', 'route'],
        methods: {
            setMenu() {
                this.$store.commit('user/setNavigationMenu', this.text);
                this.$router.push({'name': this.route});
            }
        },
        components: {

        }
    }
</script>

<style scoped>

</style>