<template>
    <modal name="product-modal" height="auto" :scrollable="true" :adaptive="true" :width="900">
        <div class="modal-header">
            <h5 v-if="!product.id" class="modal-title">{{$t('products.dataModal.titleAdd')}}</h5>
            <h5 v-if="product.id" class="modal-title">{{$t('products.dataModal.titleEdit')}}</h5>
            <button type="button" class="close" @click="$modal.hide('product-modal')"></button>
        </div>
        <form @submit.prevent="onSubmit()">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <simple-input name="title" v-model="product.title" validate="required"
                                      :label="$t('products.dataModal.name') + ':'">
                        </simple-input>
                    </div>
                    <div class="col-md-5">
                        <simple-input name="allegro_link" v-model="product.allegro_link" validate="required"
                                      :label="$t('products.dataModal.allegroLink') + ':'">
                        </simple-input>
                    </div>
                    <div class="col-md-2">
                        <simple-input name="price" v-model="product.price" validate="required"
                                      :label="$t('products.dataModal.price') + ':'">
                        </simple-input>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-form-label">{{$t('products.dataModal.description')}}:</label>
                    <tiny-mce :options="{width: '100%', height: 200}" name="content" v-model="product.content"></tiny-mce>
                </div>
                <div class="form-group">
                    <label class="col-form-label">{{$t('products.dataModal.gallery')}}:</label>
                    <row-gallery :gallery="gallery" name="gallery" :options="{canAdd: true, maxImages: 5, width: 100, height: 100, sortable: true}"></row-gallery>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="$modal.hide('product-modal')">{{$t('global.close')}}</button>
                <spinner-button class="btn btn-primary" :disabled="errors.any()">{{$t('global.save')}}</spinner-button>
            </div>
        </form>
    </modal>
</template>


<script>

    import SpinnerButton from "../../inputs/SpinnerButton"
    import SimpleInput from "../../inputs/SimpleInput"
    import TinyMce from "../../inputs/TinyMce";
    import RowGallery from "../../row-gallery/RowGallery"

    export default {
        name: "ProductModal",
        components: {
            TinyMce, SpinnerButton, RowGallery, SimpleInput
        },
        computed: {
            product() {
                return this.$store.getters['products/current'];
            },
            gallery() {
                return this.$store.getters['rowGallery/galleries'].gallery;
            }
        },
        methods: {
            onSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result){
                        this.$store.dispatch('products/save').then((response) => {
                            this.$store.dispatch('products/saveGallery', this.gallery).then((response2) => {
                                if (response) {
                                    this.$snotify.success(this.$t('products.saved'));
                                    this.$modal.hide('product-modal');
                                }
                                else {
                                    this.$snotify.error( this.$t('users.userNotSaved') );
                                }
                            });
                        });
                    }
                });
            }
        }
    }

</script>

<style scoped>

</style>