<template>
    <modal name="static-sites-modal" height="auto" :scrollable="true" :adaptive="true" :width="900">
        <div class="modal-header">
            <h5 v-if="!staticSite.id" class="modal-title">{{$t('staticSites.dataModal.titleAdd')}}</h5>
            <h5 v-if="staticSite.id" class="modal-title">{{$t('staticSites.dataModal.titleEdit')}}</h5>
            <button type="button" class="close" @click="$modal.hide('static-sites-modal')"></button>
        </div>
        <form @submit.prevent="onSubmit()">
            <div class="modal-body">
                <simple-input name="name" v-model="staticSite.name" validate="required"
                              :label="$t('staticSites.dataModal.name') + ':'">
                </simple-input>
                <div class="form-group">
                    <label class="col-form-label">{{$t('staticSites.dataModal.content')}}:</label>
                    <tiny-mce :options="{width: '100%', height: 500}" name="content" v-model="staticSite.content"></tiny-mce>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="$modal.hide('static-sites-modal')">{{$t('global.close')}}</button>
                <spinner-button class="btn btn-primary" :disabled="errors.any()">{{$t('global.save')}}</spinner-button>
            </div>
        </form>
    </modal>
</template>

<script>

    import SpinnerButton from "../../inputs/SpinnerButton"
    import TinyMce from "../../inputs/TinyMce"
    import SimpleInput from '../../inputs/SimpleInput'

    export default {
        name: "StaticSitesModal",
        components: {
            TinyMce,
            SpinnerButton,
            SimpleInput
        },
        inject: ['$validator'],
        data() {
            return {

            }
        },
        created() {

        },
        computed: {
            staticSite() {
                return this.$store.getters['staticSites/current'];
            }
        },
        methods: {
            onSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result){
                        this.$store.dispatch('staticSites/save').then((response) => {
                            if (response.success) {
                                this.$snotify.success(this.$t('staticSites.saved'));
                                this.$modal.hide('static-sites-modal');
                            }
                            else {
                                // this.$snotify.error(response.response.data.message);
                            }

                        });
                    }
                });
            }
        }
    }

</script>

<style scoped>

</style>