<template>
    <modal name="visual-editor-modal" height="auto" :scrollable="true" :adaptive="true" :width="900" @opened="modalOpened">
        <div class="modal-header">
            <h5 class="modal-title">Wizualna edycja tekstu</h5>
            <button type="button" class="close" @click="$modal.hide('visual-editor-modal')"></button>
        </div>
        <form @submit.prevent="onSubmit()">
            <div class="modal-body">
                <div class="form-group mb-0">
                    <tiny-mce :options="{width: '100%', height: 400}" name="content" v-model="text" ref="tinymce"></tiny-mce>
                    <p class="text-right mb-0 font-italic">Quick saving - CTRL+ENTER</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="$modal.hide('visual-editor-modal')">{{$t('global.close')}}</button>
                <spinner-button class="btn btn-primary" :disabled="errors.any()">{{$t('global.save')}}</spinner-button>
            </div>
        </form>
    </modal>
</template>

<script>

    import SpinnerButton from "../../inputs/SpinnerButton"
    import TinyMce from "../../inputs/TinyMce"
    import SimpleInput from '../../inputs/SimpleInput'

    export default {
        name: "VisualEditorModal",
        props: ['callback'],
        components: {
            TinyMce,
            SpinnerButton
        },
        computed: {
            text: {
                get() {
                    return this.$store.getters['visual/text'];
                },
                set(value) {
                    this.$store.commit('visual/text', value);
                }
            }
        },
        methods: {
            modalOpened() {
                setTimeout(() => {
                    this.$refs.tinymce.focus();
                }, 500);
            },
            onSubmit() {
                if (typeof this.callback !== 'undefined') {
                    let div = document.createElement('div');
                    div.innerHTML = this.text;
                    this.callback({
                        text: this.text,
                        sanitized: div.innerText
                    });
                }
                this.$modal.hide('visual-editor-modal');
            }
        }
    }

</script>

<style scoped>

</style>