<template>

    <div class="row my-devices">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{$t('faq.name')}}</h3>
                    <div class="card-options">
                        <a href="#" @click="add()" class="btn btn-primary btn-sm">{{$t('faq.add')}}</a>
                    </div>
                </div>
                <async-wait :init="{dispatch: 'faq/data'}">
                    <div class="table-responsive" v-if="faq.length > 0">
                        <table class="table card-table text-nowrap">
                            <thead>
                            <tr>
                                <th>{{$t('faq.table.name')}}</th>
                                <th>{{$t('faq.table.description')}}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <draggable v-model="faq" :element="'tbody'">
                                <tr v-for="row in faq">
                                    <td>
                                        <i class="fas fa-bars vue-draggable-handle mr-2"></i>
                                        <a @click="edit(row)" href="#">{{row.title}}</a>
                                    </td>
                                    <td>
                                        {{ row.content | striptags | truncate(20) }}
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">{{$t('global.actions')}}</button>
                                            <div class="dropdown-menu dropdown-menu-right" x-placement="top-end">
                                                <a @click="edit(row)" href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit"></i> {{$t('faq.context.edit')}}</a>
                                                <a @click="remove(row)" href="javascript:void(0)" class="dropdown-item text-danger"><i class="dropdown-icon fe fe-trash text-danger"></i> {{$t('faq.context.remove')}}</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </draggable>
                        </table>
                    </div>
                    <template slot="empty">
                        <div class="alert alert-info m-5" role="alert">
                            {{$t('faq.noData')}}
                        </div>
                    </template>
                </async-wait>
            </div>
        </div>
        <faq-modal></faq-modal>
    </div>

</template>

<script>

    import FaqModal from "../../../components/modals/faq/FaqModal";
    import constances from "../../../configs/constances";
    import * as moment from 'moment';
    import draggable from 'vuedraggable';
    import AsyncWait from "../../../components/async-wait/AsyncWait";

    export default {
        name: 'Faq',
        data() {
            return {
                moment: moment,
                constances: constances
            }
        },
        computed: {
            faq: {
                get() {
                    return this.$store.getters['faq/data'];
                },
                set(value) {
                    this.$store.commit('faq/data', value);
                    this.$store.dispatch('faq/saveSort');
                }
            },
            current() {
                return this.$store.getters['faq/current'];
            },
        },
        created() {
            this.$store.commit('faq/current', {});
        },
        methods: {
            add() {
                this.$store.commit('faq/current', {});
                setTimeout(function() {
                    this.$modal.show('faq-modal');
                }.bind(this), 0);
            },
            edit(data) {
                this.$store.commit('faq/current', deepCopy(data));
                setTimeout(function() {
                    this.$modal.show('faq-modal');
                }.bind(this), 0);
            },
            remove(data) {
                this.$store.commit('faq/current', data);
                this.$modal.show('dialog', {
                    title: this.$t('faq.removeModal.title'),
                    text: this.$t('faq.removeModal.content') + '"<strong>' + data.title + '</strong>" ?',
                    buttons: [
                        {
                            title: this.$t('global.no'),
                            default: true,
                            handler: () => {
                                this.$modal.hide('dialog');
                            }
                        },
                        {
                            title: '<span class="text-danger">' + this.$t('faq.removeModal.submit') + '</span>',
                            handler: () => {
                                this.$store.dispatch('faq/remove').then((result) => {
                                    if (result.success) {
                                        this.$store.dispatch('faq/data');
                                        this.$modal.hide('dialog');
                                        this.$snotify.success(this.$t('faq.removed'));
                                    }
                                    else {
                                        this.$snotify.error(this.$t('faq.removeError'));
                                    }
                                });
                            }
                        },
                    ]
                });
            }
        },
        components: {
            FaqModal, draggable, AsyncWait
        }

    }

</script>

<style>

</style>
