<template>
    <div>
        <div class="loaded-content" v-if="hasSomething && !isLoading">
            <slot></slot>
        </div>
        <div class="empty-content" v-if="!hasSomething && !isLoading">
            <slot name="empty">
                <div class="alert alert-info" role="alert">
                    Brak danych.
                </div>
            </slot>
        </div>
        <div class="loading-content" v-if="isLoading">
            <slot name="loading">
                <div class="alert alert-info mt-5 mr-5 ml-5" role="alert">
                    <i class="fas fa-cog fa-spin"></i> Ładowanie...
                </div>
            </slot>
        </div>
    </div>
</template>


<script>

    export default {
        name: "AsyncWait",
        props: ['init', 'rows'],
        data() {
            return {
                loading: false,
                data: false,
                getter: false
            }
        },
        created() {
            this.initialize();
        },
        methods: {
            initialize() {
                let dispatch = this.init.dispatch;

                if (typeof this.rows !== 'undefined') {
                    this.data = this.rows;
                }

                if (typeof this.init.getter !== 'undefined') {
                    this.getter = this.init.getter;
                }

                if (typeof dispatch !== 'undefined') {
                    this.initDispatch(dispatch);
                }

            },
            initDispatch(dispath) {
                this.loading = true;
                if (typeof this.rows === 'undefined') {
                    this.data = false;
                }

                this.$store.dispatch(dispath).then(function(result) {
                    this.loading = false;
                }.bind(this));
            },
            setData(data) {
                this.data = data;
            },
            refresh() {
                this.initialize();
            }
        },
        computed: {
            isLoading: function() {
                return this.loading === true;
            },
            isEmpty: function() {
                return !this.storeData || !this.storeData.length;
            },
            hasSomething: function() {
                if (!this.storeData) return false;

                return this.storeData.constructor === Array ? this.storeData.length > 0 : this.storeData;
            },
            storeData: function() {
                if (this.init.dispatch) {
                    return this.$store.getters[this.getter ? this.getter : this.init.dispatch];
                }
                return [];
            }
        },
        mounted() {

        }
    }

</script>

<style>

</style>