<template>
    <input v-model="date" type="text" class="datepicker" @input="updateDate()" />
</template>

<script>
  import jquery from 'jquery'
  // eslint-disable-next-line
  import datepicker from 'bootstrap-datepicker'
  import * as moment from 'moment';

  export default {
    name: "DatePicker",
    props: [ 'value', 'format', 'name', 'validatefield'],
    inject: ['$validator'],
    data() {
      return {
        date: null,
        dateObject: null,
      }
    },
    created () {
      if (this.validatefield) {
        this.$validator.attach({
          name: this.name,
          rules: this.validatefield,
          getter: () => {
            return this.date;
          }
        });
      }
      if (this.value) {
        this.dateObject = moment(this.value, 'YYYY-MM-DD').toDate();
        this.date = this.value;
      }
    },
    methods: {
      updateDate() {
        this.$emit('input', moment(this.dateObject).format('YYYY-MM-DD'));
      }
    },
    mounted () {
      var self = this;

      jquery(this.$el).datepicker({
        format: this.format,
      }).on('changeDate', (e) => {
        self.dateObject = e.date;
        self.updateDate();
      });
    },
    beforeDestroy: function() {
      jquery(this.$el).datepicker('hide').datepicker('destroy');
    }
  }

</script>

<style scoped>

</style>