<template>
    <div class="relative">
        <input v-model="date" type="text" class="form-control datetimepicker" @input="updateDate()"/>
    </div>
</template>

<script>
    import jquery from 'jquery'
    // eslint-disable-next-line
    import datetimepicker from 'bootstrap4-datetimepicker'
    import * as moment from 'moment';
    import constances from '../../configs/constances'

    jquery.fn.datetimepicker.defaults.icons = {
        time: 'fa fa-clock',
        date: 'fa fa-calendar',
        up: 'fa fa-chevron-up',
        down: 'fa fa-chevron-down',
        previous: 'fa fa-chevron-left',
        next: 'fa fa-chevron-right',
        today: 'fa fa-dot-circle-o',
        clear: 'fa fa-trash',
        close: 'fa fa-times'
    };

    export default {
        name: "DateTimePicker",
        props: ['value', 'format', 'name', 'validatefield'],
        inject: ['$validator'],
        data() {
            return {
                date: null,
                dateObject: null,
            }
        },
        created() {
            if (this.validatefield) {
                this.$validator.attach({
                    name: this.name,
                    rules: this.validatefield,
                    getter: () => {
                        return this.date;
                    }
                });
            }
            if (this.value) {
                this.dateObject = moment(this.value, 'YYYY-MM-DD HH:mm:ss').toDate();
                this.date = this.value;
            }
        },
        methods: {
            updateDate() {
                this.$emit('input', moment(this.dateObject).format('YYYY-MM-DD HH:mm:ss'));
            }
        },
        mounted() {
            var self = this;

            jquery(this.$el).find('.datetimepicker').datetimepicker({
                format: this.format ? this.format : constances.dateFormatEventStart,
                // inline: true,
            }).on('dp.change', (e) => {
                self.dateObject = e.date;
                self.updateDate();
            });
        },
        beforeDestroy: function () {
            jquery(this.$el).find('.datetimepicker').datetimepicker('destroy');
        }
    }

</script>

<style scoped>

    .datetimepicker {

    }

    .relative{
        position: relative;
    }

</style>