<template>
    <div class="component">
        <div class="editable-list" ref="editables">
            <div class="item d-flex" v-for="(item, i) in data">
                <div class="text">{{ item[text] }}</div>
                <div class="icons">
                    <i @click="remove(i)" class="fa fa-ban"></i>
                </div>
            </div>
        </div>
        <button @click="add" class="btn btn-sm btn-primary" type="button">DODAJ POZYCJĘ</button>
    </div>

</template>

<script>
    import jquery from 'jquery'

    export default {
        name: "EditableList",
        props: ['value', 'text'],
        data() {
            return {
                data: []
            }
        },
        watch: {
            value: function(val) {
                this.setData(val);
            }
        },
        methods: {
            add() {
                let t = {};
                t[this.text] = '___';
                this.data.push(t);
                this.destroyEditables();
                setTimeout(() => {
                    this.createEditables();
                }, 0);
            },
            remove(index) {
                this.data.splice(index, 1);
                this.$emit('input', this.data);
            },
            setData(data) {
                this.destroyEditables();
                this.data = objectToArray(deepCopy(data));
                this.createEditables();
            },
            destroyEditables() {
                try {
                    jquery(this.$refs.editables.$el).find('.item .text').editable('destroy');
                }
                catch(e){}
            },
            createEditables() {
                let v = this;
                setTimeout(() => {
                    jquery(this.$refs.editables).find('.item .text').each(function(index) {
                        jquery(this).editable(function(value, settings) {
                            v.data[index][v.text] = value;
                            v.$emit('input', v.data);
                            return value;
                        }, {
                            cssclass: 'max-width'
                        });
                    });
                }, 5);
            }
        },
        mounted() {
            this.setData(this.value);
        },
        beforeDestroy: function () {
            this.destroyEditables();
        }
    }

</script>

<style lang="scss" scoped>
    .item {
        border: 1px solid #aaa;
        padding: 5px;
        margin-bottom: 5px;

        .max-width {
            width: 100%;
            input {
                flex: 1 1 auto;
            }
        }
        .text{
            flex: 1 1 auto;
        }
        .icons{
            > i {
                cursor: pointer;
            }
        }
    }
</style>
