<template>
    <div class="form-group">
        <label class="col-form-label">{{ label }}</label>
        <input type="type ? type : 'text'" class="form-control"
               :class="{'is-invalid': err && err.length > 0}"
               :value="value"
               :name="name"
               @input="$emit('input', $event.target.value)"
               ref="text"
               >
        <div class="invalid-feedback" v-if="err && err.length > 0">
            <p class="error" v-for="error in err">{{ error }}</p>
        </div>
    </div>
</template>

<script>

    export default {
        name: "SimpleInput",
        inject: ['$validator'],
        $_veeValidate: {
            value () {
                return this.$refs.text.value;
            },
            name () {
                return this.$refs.text.name;
            }
        },
        props: {
            name: String,
            value: {
                type: null,
                default: null
            },
            label: String,
            type: String,
            err: Array,
            debounce: {
                type: null,
                default: 0
            }
        },
        mounted () {
            this.$refs.text.value = this.value;
        }
    }

</script>

<style scoped>

</style>