<template>
    <button type="submit" class="btn spinner-button" :disabled="disabled">
        <slot></slot>
        <i class="fa fa-spinner fa-spin spinner-icon" :class="{'d-none': !disabled}"></i>
    </button>
</template>

<script>

    export default {
        name: "SpinnerButton",
        props: ['text'],
        computed: {
            disabled() {
                return this.$store.getters['indicators/submitIndicator'];
            }
        }
    }

</script>

<style scoped>
    .spinner-icon {
        margin-left: 10px;
    }
</style>