<template>
    <div class="timymce">
        <textarea></textarea>
    </div>
</template>

<script>

    import jquery from 'jquery'

    export default {
        name: "TinyMce",
        props: ['value', 'options'],
        mounted() {
            let v = this;
            function emitContent(editor) {
                v.$emit('input', editor.getContent());
            }

            jquery(this.$el).find('textarea')[0].innerHTML = typeof this.value !== 'undefined' ? this.value : '';

            let init = Object.assign({}, {
                branding: false,
                target: jquery(this.$el).find('textarea')[0],
                themes: 'modern',
                menubar: false,
                skin_url: '/modules/shared/js/tinymce/skins/lightgray',
                plugins: [
                    'advlist autolink lists link image anchor textcolor table code importcss contextmenu responsivefilemanager'
                ],
                contextmenu: "link image inserttable | cell row column deletetable",
                toolbar: 'removeformat | undo redo | formatselect | bold italic backcolor | ' +
                    'alignleft aligncenter alignright alignjustify | ' +
                    'bullist numlist outdent indent link | image | code',
                setup: (editor) => {
                    editor.on('KeyUp', () => emitContent(editor));
                    editor.on('NodeChange', () => emitContent(editor));

                    editor.on('DblClick', function(e) {
                        if (e.target.nodeName == 'IMG') {
                            tinyMCE.activeEditor.execCommand('mceImage');
                        }
                    });
                    editor.shortcuts.add('ctrl+13', 'Submit form', function(){
                        jquery(v.$el).closest('form').find('button[type="submit"]').trigger('click');
                    });
                },

                image_advtab: true,
                image_title: true,
                relative_urls: false,
                remove_script_host : true,
                widthCorrection: 2,
                content_css: '/modules/shared/css/app.css',
                external_filemanager_path: "/library/filemanager/",
                filemanager_title: "Responsive Filemanager" ,
                external_plugins: {
                    filemanager: "/library/filemanager/plugin.min.js"
                },
                image_class_list: [
                    {title: 'None', value: ''},
                    {title: 'Responsive', value: 'img-responsive'}
                ],
                image_dimensions: false
            }, this.options);

            if (typeof this.options !== 'undefined') {
                if (typeof this.options.width !== 'undefined') {
                    if (this.options.width.indexOf('%') != -1) {
                        const w = this.options.width.replace(/%/, '');
                        init.width = jquery(this.$el).parent().width() * parseFloat(w) / 100;
                        init.width -= init.widthCorrection;
                    }
                    else {
                        init.width = this.options.width;
                    }

                }
                if (typeof this.options.height !== 'undefined') {
                    init.height = this.options.height;
                }
            }

            tinymce.init(init).then((editors) => {
                this.tinymceInstance = editors[0];
            });
        },
        data() {
            return {
                tinymceInstance: null
            }
        },
        methods: {
            focus() {
                this.tinymceInstance.focus();
            }
        },

        beforeDestroy: function () {
            tinymce.remove('#' + jquery(this.$el).find('textarea').attr('id'));
        }
    }

</script>

<style>
    .mce-tinymce{
        box-shadow: none !important;
    }
</style>